[2021-04-11 19:20] Electronlibre2012 commented on #174
hope generosity and plenty of coffee cups for his nice and usefull Spotcast and card!

[2021-04-11 19:34] mteuscher commented on #174
HA via docker lastest release, updated through HACS, works like a charm! Thank you very much!

[2021-04-11 21:39] walkercz commented on #174
HA virtual box
core-2021.4.3
supervisor-2021.03.9
HACS - spotcast v3.5.2

I am newbie with spotcast - never run it successfully installed few days ago

tried to run it using mini media player or developer tools > services >
spotcast.start

using service data:
        "entity_id" : "media_player.living_room",
	"uri" : "spotify:playlist:37i9dQZF1DX3yvAYDslnv8"

[140685081292080] 'NoneType' object is

[2021-04-11 21:40] XalaTheShepard commented on #174
Thanks everyone, working perfectly again. The spotify integration had to be reinstalled again. A good, well deserved cup of coffee is coming up :)

[2021-04-11 21:51] lambdahindiii commented on #174
It’s working great for me again too! I just updated via HACS and added the spotcast lines back into configuration.yaml and restarted. Everything working normally now (HA 2021.4.3 on HA OS on Raspberry Pi 4).

Thanks for all your hard work!

[2021-04-11 22:51] pystha commented on #174
HA 2021.4.3 in docker , Spotcast 3.5.2 it is not working anymore.
`Logger: homeassistant.components.websocket_api.http.connection
Source: custom_components/spotcast/__init__.py:323
Integration: Home Assistant WebSocket API (documentation, issues)
First occurred: 1:50:47 AM (1 occurrences)
Last logged: 1:50:47 AM

[139970235530784] empty range for randrange() (0, 0, 0)
Traceback (most recent call l

[2021-04-12 04:08] johnjoemorgan commented on #174
I had reverted to 2021.3.4 while waiting for this and another as yet to to worked out bug with Xiaomi Miio,

However, this morning saw the new HACS update for this and the requirement for 2021.4.x.  Being the contrarian I am I went ahead and updated with 2021.3.4 and I'm now typing this listening to spotify:artist:3BqAAo5E60L15TcFgWI8xH

@fondberg and other ... many thanks.

[2021-04-12 05:06] mcfly2283 commented on #174
Updated, but i got the same error than a few other "TypeError: 'NoneType' object is not iterable" when i want to start playback on Google-Device.

[2021-04-12 07:46] fondberg commented on #174
@walkercz ask in the forum. Seems like you haven't gotten the keys correctly

[2021-04-12 08:28] fondberg commented on #170
@xabaras75 enable debug and open a new issue. This issue is closed

[2021-04-12 08:31] fondberg opened #181 "Should look for the spotify device earlier"
IMPROVEMENT:
Note to self.
spotify_device_id = getSpotifyConnectDeviceId

[2021-04-12 08:49] callebridholm commented on #174
Do we need to have the Spotify integration also in Home Assistant to get this working? Thought that this component was the only one needed and that is how I used it for a long time. Can´t see any required step in the installation part of this plugin either.
Tried to reinstall the plugin and get new sp_dc and sp_key without any luck, still same error

[2021-04-12 09:44] mcfly2283 commented on #174
This is what i`ve found for the custom Spotify-Card:
"Spotify Integration and spotcast have to be installed (Spotcast is needed for many other things than playing on cast devices). This card should work in all newer major browsers. If it does not work for you please provide detailed reports in an issue ticket."
https://github.com/custom-cards/spotify-card

[2021-04-12 10:57] joshix3m opened #182 "Cant start spotcast on chromecast device."
Version Homeassistant:  2021.4.3
Spotcast:  v.3.5.2

Stopped working on latest update:

Trying to run script to start playback on Google Mini

[code]

I have tried switching from entity_id to device_name with same issue:

Log error as follows:

Logger: homeassistant
Source: custom_components/spotcast/__init__.py:564
First occurred: 10:51:58 (3 occurrences)
Last logged: 12:39:55

[code]

[2021-04-12 12:32] DONRozeboom commented on #182
Following

[2021-04-12 12:37] MagicMicky commented on #182
Can you try to:
* Uninstall spotcast, remove current credentials and configuration
* Uninstall spotify integration, remove current credentials and configuration
* Create a new app on the Spotify Developer console (https://developer.spotify.com/dashboard/applications)
* Reinstall Spotify with the new credentials (follow https://www.home-assistant.io/integrations/spotify/ onboarding)
* Reinstall spo

[2021-04-12 12:43] mcfly2283 commented on #182
For me, renewing Spotify-Integration with new Application and Credentials from Spotify-Dev fixed that Problem immediately.

[2021-04-12 12:57] DONRozeboom commented on #182
Interestingly enough, that worked. Which is strange, because I didn't even have the Spotify integration installed. But cheers for the quick tip mate.

[2021-04-12 13:00] joshix3m commented on #182
I also got it working when installing the Spotify-integration. Been using spotcast whitout this integration for quite som time. Something changed that made it a requirement?

Anyway. Got it working :)

[2021-04-12 13:01] #182 closed

[2021-04-12 15:25] fondberg commented on #182
Yes! We now need the devices from spotify media player as it has the correct scopes in its token.

[2021-04-12 16:14] Atiunderscore opened #183 "AttributeError: module 'pychromecast' has no attribute 'get_chromecast_from_cast_info'"
Hello,

After update v3.5.2 I'm getting the following error:

[code]

My automation looks like this:

[code]

[2021-04-12 16:47] hmmbob commented on #183
Are you on an old Home Assistant version maybe? Because that has been added over 12 months ago....

[2021-04-12 18:17] callebridholm commented on #174
Added this Spotify integration now and it start working again, thanks for help

[2021-04-12 19:47] ohipe commented on #183
Same here, after update to 3.5.2 on HA core-2021.3.4

[2021-04-12 20:09] Atiunderscore commented on #183
I'm on version 2021.1.5 at the moment.

[2021-04-12 20:12] hmmbob commented on #183
Well, as with most issues..... Try upgrading to the latest version first.

[2021-04-12 21:03] sermayoral commented on #183
The requirement for the 3.5.2 spotcast version is HA >= 2021.4.0

[2021-04-12 21:39] ohipe commented on #183
@sermayoral Sorry I miss this info, now it works despite some errors in log:
- Known devices: []
- No device with id "xxx" known by Spotify
Anyway, now service spotcast.start works.

thanks

[2021-04-13 05:44] kordys opened #185 "TypeError: 'NoneType' object is not iterable"
I use the spotcast in my automation to start the music like this:

` action:
    - service: spotcast.start
      data:
        device_name: 'Hostroom speaker'
        uri: "spotify:playlist:{{ ['...', '...', '...'] | random }}"
        force_playback: true
        shuffle: true
        random_song: true`

This worked like a charm for some time but broke recently. When I run the automation there is

[2021-04-13 06:45] Atiunderscore commented on #183
Updated to the latest version of HA and works like a charm. Thanks!

[2021-04-13 06:45] #183 closed

[2021-04-13 10:16] adrienvsj commented on #185
Hello, I have the same error with last version of home assistant (2021.4.4) and last version of spotcast (v3.5.2)

When I try to use the service in development tools :
`service: spotcast.start
data:
  entity_id: media_player.nest_hub
  uri: 'spotify:playlist:37i9dQZF1DX9ND1QF5hZNF'
  random_song: true
  shuffle: true
`

I got 2 errors in logs :
`Traceback (most recent call last):
  File "/usr/src/

[2021-04-13 10:48] mcfly2283 commented on #185
Just install or reinstall the Spotify-Integration as mentioned in #182 https://github.com/fondberg/spotcast/issues/182

[2021-04-13 11:21] kordys commented on #185
Thanks! I missed that one. I will give it a try. I didn't realize I need the Spotify integration from now on...

[2021-04-13 11:24] robtesch commented on #182
Can we please update the docs to specify that the spotify integration is now required?

[2021-04-13 11:30] hmmbob commented on #182
The great thing of open-source: you can do this too!

https://github.com/fondberg/spotcast/blob/master/README.md

[2021-04-13 11:33] robtesch commented on #182
Yes yes, I know, but seeing as I haven't even made this fix/change yet I don't want to put the wrong instructions in there. Once I've done so I will submit a PR.

[2021-04-13 12:04] robtesch commented on #182
PR submitted

[2021-04-13 15:29] fondberg commented on #185
I updated the README about this

[2021-04-13 15:29] #185 closed

[2021-04-13 19:57] Wilco89 opened #190 "Doesn't work on 2021.4.4?"
Since latest update it doesn't work anymore.

Spotcast and HA are on latest version available

[2021-04-13 20:04] #190 closed

[2021-04-13 20:05] Wilco89 commented on #190
Had a issue with nest hub

[2021-04-13 20:11] ColinRobbins opened #191 "Error setting up in HA 2021.4.4"
I'm still struggling with issue [174](https://github.com/fondberg/spotcast/issues/174), so I removed the Spotify and spotcast config, and upgraded to HA 2021.4.4

When adding the Spotify integration back, the call-back URL is called, but HA reports
[code]
I see in the logs:
[code]
I've triple checked the callback URL, and client ID / secret.

Any suggestions what the ```allowed_methods``` issue is

[2021-04-14 07:06] hmmbob commented on #191
This looks to me as a problem with the core `spotify` integration? This is the `spotcast` repository, you might have better luck at the Home Assistant Core repo?

[2021-04-14 14:51] ColinRobbins commented on #191
Thanks @hmmbob, raised in the [HA Community](https://community.home-assistant.io/t/error-setting-up-spotify-in-ha-2021-4-4/299433) and closed here.

[2021-04-14 14:51] #191 closed

[2021-04-14 18:31] Spankythemusical opened #192 "KeyError: 'spotcast'"
HA - 2021.4.4
Spotcast - 3.5.2

Spotcast will no longer load.  I have not made any changes or integration additions within the past week, just the upgrade of HA.

This are the errors that are shown on the log page:

[code]

[code]

I did a reinstall of Spotcast, but the errors remain.  Any ideas?

[2021-04-14 19:47] fillwe commented on #192
Same issue here after 2021.4.4 upgrade

[2021-04-15 13:43] MrRubberDucky99 opened #193 "Module 'pychromecast' has no attribute 'get_chromecast_from_cast_info'"
When I try to play a spotify playlist to my google home, I get this error
[code]

Is anyone able to help me fix this?
Thanks!

[2021-04-15 13:47] hmmbob commented on #193
Duplicate of #183

Update your HA and it should be solved 🤷🏻

[2021-04-16 08:21] tcarlsen opened #194 "crunching sound"
since the new update with default Spotify integration, every time I use spotcast to start a playlist its making a crunching/crackling sound in the speaker with a 15-30 second interval.

No problem then starting Spotify via iOS

[2021-04-17 12:45] fondberg commented on #194
I can't reproduce. Can you create new sp_dc and sp_key and try again?

[2021-04-17 12:45] fondberg commented on #193
Closing as this is documented in manifest.json as well as numerous closed other places

[2021-04-17 12:45] #193 closed

[2021-04-17 12:49] fondberg commented on #192
I can't reproduce this. Make sure you have updated spotcast to the latest

[2021-04-17 13:09] fondberg commented on #181
PR created

[2021-04-17 13:09] #181 closed

[2021-04-17 13:09] fondberg commented on #160
It doesn't seem to be possible to fetch which episode you played last.

[2021-04-17 13:10] #154 closed

[2021-04-17 13:15] icarome commented on #160
The default mode will take the latest released one. Then I added an option to play the latest released that's marked as not fully played, this way it will ignore already played episodes

[2021-04-17 13:50] fondberg commented on #163
@itzteajay-glitch I couldn't see support for this in the official API. Can you point me to the documentation for this feature?

[2021-04-17 14:23] fondberg commented on #160
great!

[2021-04-17 14:41] fondberg commented on #158
Hi @jazzyisj , been sick, sorry for the delay.
HA doesn't have knowledge about playlists. When you play something the core spotify mediaplayer gets the image and info from current playback.
The spotify-card gets its playlists from spotcast.

I'm probably going to deprecate the notion of accounts now that Spotify makes it more and more impossible to use the powerful token but it would be possible t

[2021-04-17 14:42] itzteajay-glitch commented on #163
I'd have to do some digging. But here's an example

You have a standard link to a song
spotify:track:6dijvEXmPs4XA05dYPaK1J

You have a link to a song where it will start at a certain time
spotify:track:6dijvEXmPs4XA05dYPaK1J#1:00

[2021-04-17 14:50] itzteajay-glitch commented on #163
I'm not sure if this is the call you're making? **Start/Resume a User's Playback** https://developer.spotify.com/documentation/web-api/reference/#category-player

I'm no python expert I'd have to dig into your code more to understand it. It does look like it has a position_ms option as a parameter.

[2021-04-17 16:15] fondberg commented on #163
You are right. Would this be enough for your usecase?
Also, is it mainly for tracks or other URi types as well?

[2021-04-17 16:18] fondberg commented on #13
@gmcmicken did you proceed any?

[2021-04-17 17:40] itzteajay-glitch commented on #163
I think it would be mainly for tracks and shows. I didn't check if it's available for shows but that would allow snippets of podcasts to be played by home assistant.

[2021-04-17 18:36] Spankythemusical commented on #192
HACS goes as far as 3.5.2.  I manually installed 3.5.3, but received the same errors.

If I downgrade to 3.4.7, I go back to receiving the `ImportError: cannot import name 'KNOWN_CHROMECAST_INFO_KEY' from 'homeassistant.components.cast.media_player'` error

[2021-04-18 06:07] peterjuras commented on #194
I have a similar issue, but I'm not sure that it is due to spotcast. Even if I start spotify via a normal Google Assistant command the sound is crunchy for me.

[2021-04-18 06:18] hmmbob commented on #192
How does your Spotcast configuration look like in configuration.yaml?

[2021-04-18 07:32] tcarlsen commented on #194
Mine actually started doing the cracking sound after a google command as well. But nit as often as it does with spotcast.
It started after the lastes update if spotcast snd of course the addition of the official spotify integration.

I will try uninstalling spotcast only and see if it's stops. And then the official integration.

[2021-04-18 09:46] gambith commented on #194
Turn off the ultrasound sensing on your Google device, that fixed it for me

https://support.google.com/googlenest/answer/9509981?hl=en

[2021-04-18 16:10] Spankythemusical commented on #192
Well color me embarrassed!  I guess I commented out the spot cast entry in my configuration.yaml due to the last issue.  Never went back to uncomment after the upgrade.  I will hang my head in shame and show myself to the door.

thank you for your help with this.

[2021-04-18 16:10] #192 closed

[2021-04-19 04:46] idcmp commented on #154
I did spend a fair bit of time digging into this. There's a handshake that happens as part of Spotify Connect in which the Spotify client (app/player) exchanges some credentials which allow the output device to dynamically authenticate to the Spotify servers with/as your account. There's some authentication material that I think is actually unavailable outside the client - so it's not possible to

[2021-04-19 07:22] tcarlsen commented on #194
@gambith turning og ultrasound does seem to stop the cracking. but having it on didnt make a cracking sound before the latest spotcast update. so some how these to are connected

[2021-04-19 07:45] hmmbob opened #196 "Failed to get device id from Spotify (3.5.4)"
Hi Niklas,

Tried the new release, but it is throwing errors at me when I am using a **2nd account**:

Spotcast config (3.5.4):
[code]

[code]

Error in the log:
[code]

What I can see with my non-dev eye, is that the requested Cast device is actually found (media_player.hmt) by `get_cast_devices`, but that it isn't listed as known spotify device (in `get_spotify_devices` and thus throws an error.

[2021-04-19 08:34] jokerigno opened #197 "New fields are now mandatory?"
Hi,

I used this service call before the update:

[code]

Now I can't call the service from dev tools anymore.

I had to add at lest thos in order to play music again.

[code]

It' a choice you made for some reason or a bug?

[2021-04-22 09:39] MrSuttonmann commented on #194
@tcarlsen I've been having the crackling sound too, but I noticed it on Tuesday. I didn't have spotcast installed on HASS until this morning. I don't think the issue is related.

[2021-04-22 10:02] tcarlsen commented on #194
@MrSuttonmann odd. I only have it then its SpotCast thats starts the music 😕

[2021-04-22 12:54] peterjuras commented on #196
I'm getting the same issue (no known devices), however I get it for all accounts (default and two others that are configured).

Spotcast sadly doesn't work for me at all right now :/

[2021-04-22 12:55] hmmbob commented on #196
Did you setup spotify in HA? It is required.

[2021-04-22 14:06] peterjuras commented on #196
Yes for two accounts. It was working fine for a few months now, but now I receive an empty device array similar to you.

[2021-04-22 18:11] hmmbob commented on #196
Yeah, I see the same. Until yesterday it worked with the main account, now that is broken too.

[2021-04-23 08:06] gabosom opened #199 "Device not found but it shows up in Spotify card"
I'm trying start a playlist on my device called "Pioneer Receiver" but I get errors when using the spotcast service. For reference, you can see in the spotify card (end of post) that my HA can actually see the device and I can start playback from this card.

This is the YAML code I have in my script that is not working:

[code]

and I get the below error
[code]

thoughts on what it might be?

![im

[2021-04-23 08:18] hmmbob commented on #199
Duplicate of #196

[2021-04-23 08:21] hmmbob commented on #196
@fondberg Did some fiddling around. With the '[dirty fix](https://github.com/provinzio/spotcast/commit/c6b29531fb0836c7665a020c18fc33a99fba9dc3)' that has been used before, it works again. If I trace the errors, it appears that there is a valid Chromecast found, but this device isn't visible/available through spotify hence why `getSpotifyDeviceId` returns an error.

Would it be possible to bypass

[2021-04-23 08:31] ontaptom commented on #170
@ludwigvdb by any chance did you find a solution to your issue with 'devices disappearing'?

[2021-04-23 08:49] ludwigvdb commented on #170
Hi, I didn't find any direct solution for this issue, BUT with the last HA update and the last spotcast update everything works fine again :)
(NB : SPOTIFY plugin is now necessary for spotcast to work)

[2021-04-23 19:25] fondberg commented on #196
I'll have a look

[2021-04-24 06:28] peterjuras commented on #196
Thanks for looking into this!

I think that this might have something to do with spotcast using the wrong Spotify account by default. When I checked the logs, I saw a device listing which only could have been from a different account, although the service call did not specify an account but should have used the default one. The [spotify-card](https://github.com/custom-cards/spotify-card) also some

[2021-04-24 09:05] maxenced opened #200 "`get_spotify_devices` does not handle multiple account"
[get_spotify_devices](https://github.com/fondberg/spotcast/blob/master/custom_components/spotcast/__init__.py#L120) is not able to filter on a per-account basis. Thus, when using multiple accounts, [websocket_handle_player](https://github.com/fondberg/spotcast/blob/5c746da55684feb3bf311f9700be62bc57d7dc9d/custom_components/spotcast/__init__.py#L236) will return the same informations no matter whic

[2021-04-24 10:27] fondberg commented on #200
This is a known issue after using the devices from core Spotify

[2021-04-24 10:39] maxenced commented on #200
Good to know it known. Still, can I help to fix that ? Looks like the key is to match the correct account from core spotify. Not sure how this can be done ?

[2021-04-26 10:09] MrSuttonmann opened #201 "Repeat Context doesn't seem to work"
I've been trying this out to play a spotify playlist on repeat.

Repeat Context doesn't seem to be working. The playlist plays, but then stops at the end.

Here's my card config for a button to call the service:

[code]

[2021-04-26 10:34] fondberg commented on #200
Can you have several accounts for the core spotify player? If so we can solve it otherwise it will not work and needs to get removed in spotcat

[2021-04-26 10:36] fondberg commented on #196
With fixing the playback issues a couple of weeks back we now use the device list from spotify media player core which has its account and spotcast MIGHT have another account.

Can you confirm that this is the case for you (that you are using different accounts between them)?

[2021-04-26 10:38] fondberg commented on #196
As I can't solve the multiple accounts issue there is only one alternative and that is to either leave it semi-broken or remove multi-account support.
The other alternative (which I don't have time for) is if someone implements another authentication with OATH and scopes similar to code spotify. Note that I won't do this

[2021-04-26 10:40] hmmbob commented on #200
I am using 3 accounts in Core Spotify. In the debug logs I posted on another issue thread, you can see all three actually show up.

[2021-04-26 10:41] fondberg commented on #201
Can you send the logs for the playback with DEBUG on?

[2021-04-26 10:42] fondberg commented on #194
I will close this as I can't imagine that spotcast is involved

[2021-04-26 10:42] #194 closed

[2021-04-26 10:42] hmmbob commented on #196
This could be the case. Core Spotify has 3 accounts setup, with Spotcast I am using 2. So, it could be that Spotcast account "T" (in my case) is talking to the "Hmmbob" core Spotify account. This shouldn't be too much of a problem though, as T us my son and thus uses the same devices as I do ;-)

[2021-04-26 10:43] #197 closed

[2021-04-26 10:45] #160 closed

[2021-04-26 10:47] fondberg commented on #196
OK, then we need to map this to the correct core player. Do you have a proposal on how to do this?

[2021-04-26 10:48] fondberg commented on #196
The code that needs to get the "correct" player is
https://github.com/fondberg/spotcast/blob/master/custom_components/spotcast/__init__.py#L120-L137

[2021-04-26 11:33] fondberg commented on #199
Follow #196

[2021-04-26 11:33] #199 closed

[2021-04-26 11:35] fondberg commented on #196
@hmmbob maybe we should readd the dirty fix
[code]
Can you do a PR for it?

[2021-04-26 12:19] maxenced commented on #200
Not sure what you call core spotify, if it's https://www.home-assistant.io/integrations/spotify/ then yes, multiple account are well supported (and you get one media_player entity for each)

[2021-04-26 13:18] hmmbob commented on #196
Sure. It is at least a little band aid on the error.

[2021-04-27 15:02] nolenjohan commented on #200
I could not use second account with 3.5.6 so I backed to 3.5.2 and now also the second account works fine. I have two Spotify accounts and nine Chromecasts, everything seems to be working fine now.

[2021-04-27 16:38] lytryx opened #203 "Syntax error in __init__.py"
Hi, first thanks for sharing the work, it's great
Just comment on a syntax error that the integration has reported to me, in case it helps someone.

 "syntax error in line 562 of __init__.py"
![image](https://user-images.githubusercontent.com/48161459/116278991-4e3d5d00-a787-11eb-8347-e17f711f1625.png)

I changed ":" to "=" and it started working correctly.

TKS

[2021-04-27 17:02] hmmbob commented on #203
That operator is introduced in Python 3.8, which is also the minimum python version Home Assistant supports. Recommend to update your Python installation.

[2021-04-27 17:07] lytryx commented on #203
Yes, I have it pending.. thanks for the recommendation.

TKS

[2021-04-27 18:08] #203 closed

[2021-04-28 13:41] jonasjeeliasson commented on #200
Same for me. Using two accounts works fine on 3.5.2. I've got two spotify media players, and configured two accounts in spotcast. Using together with spotify-card works well.

[2021-04-28 16:34] fondberg commented on #200
So basically someone needs to map a spotcast username to the correct core spotify entity.  Any ideas?

[2021-04-28 17:18] hmmbob commented on #200
Well, it makes sense to use the same name in both places. This is what I find in .storage/core.config_entities:

[code]

[2021-04-28 18:22] maxenced commented on #200
the match on username should do the trick. If we want to simply filter on entity name, the default entity name for spotify integration seems to be `media_player.spotity_<username>`

[2021-04-29 09:24] hmmbob commented on #200
Yet I wouldn't rely on the `media_player.spotity_<username>` name though, as it can be easily renamed to something else. If we are matching accounts between Spotcast and core Spotify, it has to be based on the `id`, `name` or `unique_id` fields marked above, in my humble opinion.

`name` appears to be most user friendly, yet `unique_id` is most robust. We'll have to update the docs on how to find

[2021-05-03 15:29] #200 closed

[2021-05-03 15:43] fondberg commented on #196
Please try with https://github.com/fondberg/spotcast/releases/tag/v3.5.7

[2021-05-03 16:58] fondberg commented on #201
I see now that you have context as a string. Try with a boolean

[2021-05-03 18:19] gabosom commented on #196
Hi @fondberg , I tried with the latest and still have the issue with v 3.5.7. Thoughts?

`
Play Spotify Playlist on Receiver: Error executing script. Error for call_service at pos 2: Could not find device with name Pioneer Receiver
`

This is my spotify card and if I choose "pioneer receiver" from the spotify card, it'll play on the device just fine.
![image](https://user-images.githubusercontent.

[2021-05-04 08:05] MrSuttonmann commented on #201
@fondberg How would I run with DEBUG on?

Are you sure about setting repeat to a boolean? The options available are a dropdown list:
![image](https://user-images.githubusercontent.com/7480500/116975648-e2438300-acb7-11eb-85fd-42bfe20db99e.png)

[2021-05-05 06:11] michaeltryl opened #208 "version 3.5.7 dont play music"
Have tried both with and without the dirty bug fix which has worked before, but the music does not start
i have this in my log.

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/script.py", line 359, in _async_step
    await getattr(self, handler)()
  File "/usr/src/homeassistant/homeassistant/helpers/script.py", line 559, in _async_call_service_step
    awai

[2021-05-05 06:12] hmmbob commented on #208
What HA version are you running?
Do you have core Spotify setup?
Can you share your Spotcast config?

[2021-05-05 06:16] michaeltryl commented on #208
i run HA version core-2021.4.6
i have the real spotify integration setup
and my config to spotcast is

spotcast:
  sp_dc: xxxxxxxxxxxxxxxxxxxxxxxxxx
  sp_key: xxxxxxxxxxxxxxxxxxxxxxxxxx
  accounts:
    tobias:
      sp_dc: xxxxxxxxxxxxxxxxxxxxxxxxxx
      sp_key: xxxxxxxxxxxxxxxxxxxxxxxxxx

[2021-05-08 14:20] bnutz commented on #208
Seeing the same error on my system as well.

Running core-2021.5.1 Docker Container version.

Tried removing and re-adding the core Spotify setup (restarting after each step) but still got the same error when attempting to play.
I am using the `entity_id` as the target device to play on.

Also confirm the target devices are visible via the `sensor.chromecast_devices` sensor.

Currently rolled back

[2021-05-09 13:13] Bluhme1 opened #211 "Endlessly loading"
**Describe the bug**
Component won´t load

* [ x] Using latest version of spotcast
* [ x] I have setup the Spotify integration in Home Assistant
* [ x] I am using multiple accounts
* [ x] Using latest stable version of Home Assistant
* [ x] I have Spotify Premium
* [x ] I'm attaching relevant logs with level debug for component spotcast (see README)
* [x ] I'm using entity_id in the service call a

[2021-05-09 16:56] dnguyen800 opened #212 "Spotify Connect device name not found"
**Describe the bug**
A clear and concise description of what the bug is.

* [X] Using latest version of spotcast
* [X] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [X] Using latest stable version of Home Assistant
* [X] I have Spotify Premium
* [X] I'm attaching relevant logs with level debug for component spotcast (see README)
* [X] I'm using entity_

[2021-05-09 17:33] Bluhme1 commented on #211
My token had expired. Sorry

[2021-05-09 17:33] #211 closed

[2021-05-09 21:22] fondberg commented on #212
Have you renamed the device?
Can you attach a debug log looking for the line `get_spotify_devices`

[2021-05-09 21:47] dnguyen800 commented on #212
There's a few entries but they all look similar. Here are some examples:

[code]

I didn't know how to find the `spotify_device_id` earlier, but looking at these logs, I used the `id` value in the service call and it works now. So at least I have a workaround. Below is the service call I used with `spotify_device_id` that works. `device_name` still doesn't work.

[code]

[2021-05-10 05:29] jsuslik commented on #212
I am having the same issue, just started with HA yesterday, thought I was going crazy and just did not understand the instructions or had failed a step. Glad to see its not just me.
I have tried device name, friendly name, entitiy id, have reset and reimported them multiple times after changing the names to ensure there was no issue with a name change. Pretty new to HA but would love to help devel

[2021-05-10 10:52] bnutz commented on #208
Updated to 3.5.8, and set to use `device_name`, but no change in results.

debug log output with some sanitisation and duplicate lines removed:
[code]

This is the error trace from the script that is calling the service:
[code]

An additional observation - this is only affecting playlists being played from the secondary account(s).
When not using the `account` param - using `device_name` or `entit

[2021-05-10 18:40] jsuslik commented on #212
@dnguyen800 Hey Dan, tried to get my debug to show me the get_spotify_devices: so I could find the ID and use your workaround temporarily, but those specific debug lines don't show up in my log, what was your config.yaml used to get those? See all my other debugs but none of those lines appear.

[2021-05-10 18:44] dnguyen800 commented on #212
Here is what my logger component looks like in configuration.yaml. When you're viewing the logs in the Home Assistant UI, you also need to click another button to view all logs, something like that.

[code]

[2021-05-10 19:03] jsuslik commented on #212
Not sure why I'm not getting much debug from spotcast in my log, confirmed i'm using the write config.yaml for it, my sp_dc key and sp_key seem to be correct, I can use spotify plugs and pick songs, etc.

[code]

[2021-05-10 20:35] dnguyen800 commented on #212
The Marantz M-CR510 isn't a Chromecast device, just a Spotify Connect device.  If `device_name` is no longer allowed to be used, I'm totally fine using `spotify_device_id` instead.

It seems difficult to find the `spotify_device_id` of a Spotify Connect device on my own, so I will make a PR to add some additional notes to your README file on how to find it. Thanks for the help!

[2021-05-10 22:55] fondberg commented on #212
I dont think it ever worked with device_nqme for non csst devices. It simply wasnt implemented that way. I wqs thinking of doing a rewrite so it sould support it snd deprecate spotify_device_id but that is for later

What i do is use the logs to see the id. The id never changes so you should be fine

[2021-05-10 23:21] dnguyen800 commented on #212
that is interesting, because using `device_name` definitely worked for me when I setup these automations several months ago. Anyways, ID is a better way to use spotcast. I will close the issue now.

[2021-05-10 23:21] #212 closed

[2021-05-11 12:34] jokerigno opened #213 "Feature Request: add media_position and media_position_updated"
Hi,

as described in the object I ask you if you can add media_position and media_position_updated to a future release.

Moreover it would be great to add somehow visibility of the user that triggered spotcast to restart music with same account.

Thank you

[2021-05-14 04:37] amitkeret opened #216 "[Feature Request] Expose Spotify Connect devices"
Thank you for this component, it's extremely useful!

It would be helpful to have an exposed `sensor.spotify_connect_devices` entity, much like `sensor.chromecast_devices`.
Having the ability to fetch this list, including each device's Spotify unique ID would be useful.

My goal: to be able to fetch a combined list of all devices (Connect and Chromecast) with their Spotify unique IDs, and feed tha

[2021-05-22 18:50] LifeBandit666 commented on #216
Hey, Check out this I posted on Reddit, might help https://redd.it/ni1gw1

[2021-05-23 00:04] amitkeret commented on #216
Thanks @LifeBandit666
I've looked into that solution before :) Unfortunately, it seems these IDs are not persistent; they change every day or so.
I've previously configured an action with one of these IDs, it worked initially and then stopped working once the ID has changed on Spotify's backend.

[2021-05-30 15:03] fondberg commented on #201
I have finally been able to test this. Spotcast does send this correctly but it seems spotify has an issue repeating playlists. What you can do is to test for yourself after starting a playlist if you get it to work using their web console
https://developer.spotify.com/console/put-repeat/

[2021-05-30 15:06] fondberg commented on #163
There is actually a position_ms which can be sent in the playback request. Do you want me to add this so you can try?
https://github.com/plamere/spotipy/blob/master/spotipy/client.py#L1723

[2021-05-30 15:07] fondberg commented on #158
is anyone intreserest in this? I've refactored the code so I cab make this happen now

[2021-05-30 15:09] fondberg commented on #196
@gabosom I think there might be something else that is a problem for you. Feel free to post a new bugreport if you have the problem. closing this seeing as it solved it for the actual reported issue

[2021-05-30 15:09] #196 closed

[2021-05-30 15:09] #208 closed

[2021-05-30 15:10] fondberg commented on #213
is this same as position_ms offset to start the playback?

[2021-05-30 15:11] fondberg commented on #216
You don't need the IDs. device_name will look first at your spotify connect devices and only if it is missing will it look for chromecast devices.

Why do you need the spotify_device_id?

[2021-05-30 15:24] LifeBandit666 commented on #216
device_name never worked for me fondberg, that's why I went down the rabbit-hole to find the Spotify connected IDs. and amitkeret my solution gives you exactly what you're asking fondberg for. It's still working for me a week later for my Chromecast and Raspotify devices.

[2021-05-30 19:50] fondberg commented on #216
Unless you have named your device weirdly it should work.
Also if you enable debug logging you will see a line called "get_spotify_devices" which contain all the spotify devices for that account as received by their API

[2021-05-30 19:53] fondberg commented on #213
Is the first request the same as #163 ?
The second you can get from the HA core spotify media player if you set it up with all your accounts.
Spotcast doesn't store any state so it is the wrong place for it

[2021-05-31 15:32] gabosom opened #219 "Can't start playlist on device"
Unfortunately I can never start as playlist with the spotcast service but the spotify card does work. Thoughts? How can I best help debug or provide more information?

[code]

[2021-05-31 15:33] gabosom commented on #219
@fondberg - FYI starting a separate issue just for this as per your comment on  https://github.com/fondberg/spotcast/issues/196

[2021-05-31 15:41] gabosom commented on #219
nevermind, updated to 3.5.10 from 3.5.7 and it's working now!  thx!!

[2021-05-31 15:41] #219 closed

[2021-06-01 21:36] LifeBandit666 commented on #216
I've gone back and tried again with device names, and managed to get it working no trouble.

It seems the Spotify device ID (the numbers referenced in my Reddit post and here) only work if they're one of the last 3 devices used by Spotify. It must use the same developer API referenced in my post.

Device names on the other hand seem to work (so far) as long as Spotify can see them on the network.

[2021-06-02 03:32] JOHLC commented on #208
I am only using one account with Spotcast and I have been getting a similar error and an inability to play anything:

[code]
Latest version of everything
I've uninstalled Spotcast, rebooted, reinstalled, removed and re-added my account to the core Spotify integration
Cant play via device ID nor name

[2021-06-07 15:39] jazzyisj commented on #158
Yes!  Please!

[2021-06-08 11:45] jaypi95 opened #220 "Random song doesn't work"
So I'm not sure if this has something to do with Home Assistants latest upgrade but when I used the "Random Song" option I always got the following error message:

[code]

I was able to fix it by using len() on lines 348 and 345 in __init__.py:

[code]

I only have one spotify connected device so I'm not really able to test it on other hardware.

[2021-06-13 11:07] fondberg commented on #220
Thanks for a great bugreport with a fix. those are rare. I'll test it asap

[2021-06-13 11:39] fondberg commented on #220
I tested this now and can't reproduce it. This is what I tested with
[code]
and
[code]
Can you send me what fails for you?

[2021-06-13 12:22] arjanhagg opened #221 "Error during setup of component spotcast after update to 3.6.10"
After updating Spotcast to version 3.6.10 it stopped working. The log gives the following error resulting in not starting the custom integration:

Logger: homeassistant.setup
Source: custom_components/spotcast/spotcast_controller.py:158
Integration: Start Spotify on chromecast (documentation, issues)
First occurred: 2:11:51 PM (1 occurrences)
Last logged: 2:11:51 PM

Error during setup of componen

[2021-06-13 12:45] markwiese commented on #221
I have only just installed Spotcast, today, and I'm getting the same error. I tried installing an older version (3.5.7) and I still get the same error.

[code]

[2021-06-13 13:21] jaypi95 commented on #220
Thanks for your reply. I tested around a little bit and saw that the issue was when I copied the playlist URI from Spotify I forgot to remove a part at the end.

That part was ```?si=a26<redacted>18```

It's probably some sort of tracking mechanism and without it your code works perfectly fine. If I leave it then I get the error mentioned in my first post. Since spotify doesn't have the option of

[2021-06-13 13:22] ranrinc opened #222 "Spotcast Broken after updating to 2021.6.4"
**Describe the bug**
A clear and concise description of what the bug is.

* [x] Using the latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x] Using latest stable version of Home Assistant
* [x] I have Spotify Premium
* [x] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ ] I'm using ent

[2021-06-13 14:48] rexer78 commented on #222
I have the same problem, I'm returned to the previus version 3.5.10 and all work fine.

[2021-06-13 15:03] davide-vh commented on #221
I've just installed Spotcast v3.6.10, same error :

Error during setup of component spotcast

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/setup.py", line 248, in _async_setup_component
    result = await task
  File "/usr/local/lib/python3.8/concurrent/futures/thread.py", line 57, in run
    result = self.fn(*self.args, **self.kwargs)
  File "/config/custom_comp

[2021-06-13 15:14] fifour-1 opened #223 "Spotcast can't start after update"
**Describe the bug**
A clear and concise description of what the bug is.

* [x] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x] Using latest stable version of Home Assistant
* [x] I have Spotify Premium
* [x] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ ] I'm using entity_

[2021-06-13 15:15] javilopezalarcon commented on #223
Same error 😰

[2021-06-13 15:19] chodong-dev commented on #223
Same error 😰

[2021-06-13 15:36] wannesmarynen commented on #223
if you are willing to fix it yourself you could go to the filespotcast controller and replace the function __init__ with this:

`
    def __init__(self, hass, sp_dc, sp_key, accounts):
        if accounts:
            self.accounts = accounts
        self.accounts["default"] = OrderedDict([("sp_dc", sp_dc), ("sp_key", sp_key)])
        self.hass = hass`

that fixed it for me

[2021-06-13 15:38] wannesmarynen commented on #222
if you are willing to fix it yourself you could go to the filespotcast controller and replace the function __init__ with this:

    def __init__(self, hass, sp_dc, sp_key, accounts):
        if accounts:
            self.accounts = accounts
        self.accounts["default"] = OrderedDict([("sp_dc", sp_dc), ("sp_key", sp_key)])
        self.hass = hass

that fixed it for me

[2021-06-13 15:40] chodong-dev commented on #223
@wannesmarynen, I will try it.
Thanks for your comment.

[2021-06-13 15:54] chodong-dev commented on #223
It works well. Thanks again.

[2021-06-13 17:19] fondberg commented on #223
Can someone make a PR?

[2021-06-13 17:20] javiges commented on #223
what is the path of that file to modify it?  Thank you

[2021-06-13 17:32] fondberg commented on #223
Released new version

[2021-06-13 17:32] #223 closed

[2021-06-13 17:32] fondberg commented on #222
Released new version

[2021-06-13 17:32] #222 closed

[2021-06-13 17:33] fondberg commented on #221
Released bugfix

[2021-06-13 17:33] #221 closed

[2021-06-13 17:34] #220 closed

[2021-06-13 17:36] #213 closed

[2021-06-13 17:37] #201 closed

[2021-06-13 17:38] fondberg commented on #216
Closing this as it works as wxpected

[2021-06-13 17:38] #216 closed

[2021-06-13 17:46] javiges commented on #223
Tengo este error con la última update

2021-06-13 19:43:59 ERROR (MainThread) [homeassistant.setup] Setup failed for spotcast: unknown error
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/setup.py", line 200, in _async_setup_component
    component = integration.get_component()
  File "/usr/src/homeassistant/homeassistant/loader.py", line 490, in get_component

[2021-06-13 17:59] javiges opened #226 "Spotcast can't start after update"
**Describe the bug**
A clear and concise description of what the bug is.

* [X ] Using latest version of spotcast
* [ X] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [ x] Using latest stable version of Home Assistant
* [x ] I have Spotify Premium
* [c ] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ ] I'm using en

[2021-06-13 18:10] javiges commented on #226
Thanks

[2021-06-13 18:10] javiges commented on #226
can it be fixed in the next update?

[2021-06-13 18:11] wannesmarynen commented on #226
yes it is a simple fix but i can not do it.
 the owner needs to accept the changes

[2021-06-13 18:14] javiges commented on #226
thank you very much crack

[2021-06-13 19:37] fondberg commented on #226
Fixed

[2021-06-13 19:37] #226 closed

[2021-06-13 19:42] javiges commented on #226
Ok,thanks

[2021-06-13 20:02] javiges opened #227 "Spotcast can't start after"
**Describe the bug**
A clear and concise description of what the bug is.

* [x ] Using latest version of spotcast
* [ x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x ] Using latest stable version of Home Assistant
* [ x] I have Spotify Premium
* [ x] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ ] I'm using en

[2021-06-13 20:04] javiges commented on #227
Logger: homeassistant.setup Source: custom_components/spotcast/spotcast_controller.py:160 Integration: spotcast (documentation, issues) First occurred: 21:59:12 (1 occurrences) Last logged: 21:59:12  Error during setup of component spotcast Traceback (most recent call last):   File "/usr/src/homeassistant/homeassistant/setup.py", line 248, in _async_setup_component     result = await task   File "

[2021-06-13 20:05] jonathanrobichaud4 commented on #227
I have the same issue

[2021-06-13 20:06] wannesmarynen commented on #227
@fondberg i added the check if the accounts is not null but i just get skipped for some reason very weird i can not explain it it should work

[2021-06-13 20:09] javiges commented on #227
I have returned to version 3.5.10 which is the last one that works, until we wait for a solution, great job, surely you will fix it soon

[2021-06-13 20:14] wannesmarynen commented on #227
i think i found it just testing it locally and then i will make the pull request for the fix

[2021-06-14 05:16] javiges commented on #227
perfect, everything fixed in the last update, thanks team, throughout the day I will test it

[2021-06-14 06:28] #227 closed

[2021-06-17 13:01] spider7611 opened #229 "After update isn't working at all. If I go back the last good one now not working too."
**Describe the bug**
A clear and concise description of what the bug is.

* [x ] Using latest version of spotcast
* [x ] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x ] Using latest stable version of Home Assistant
* [ x] I have Spotify Premium
* [ ] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ ] I'm using ent

[2021-06-17 13:08] spider7611 commented on #229
Ok, I solve this. Must refresh the 2 secret key.

[2021-06-17 13:08] #229 closed

[2021-06-18 14:15] Vormillion opened #230 "Setup failed for spotcast: unknown error"
**Describe the bug**
A clear and concise description of what the bug is.

* [X] Using latest version of spotcast
* [X] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [ ] Using latest stable version of Home Assistant
* [X] I have Spotify Premium
* [ ] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ ] I'm using entity_

[2021-06-18 14:17] hmmbob commented on #230
Update your HA. It's outdated and missing some hooks for Spotcast.

[2021-06-19 12:38] #230 closed

[2021-06-19 20:57] fondberg commented on #158
What kind of data do you want and whatkindof config would you supply?
Input: Multiaccount, playlist type, country code et.c.

Output would be what?

[2021-06-19 20:58] fondberg commented on #163
@itzteajay-glitch ^^

[2021-06-21 13:28] rako77 opened #232 "[Feature Request] Add a web socket API to retrieve an image for a specific Spotify URI."
I want to add an API to retrieve an image for a specific Spotify URI (usually a daily mix so the image would change roughly once a day)

I'm wondering if I make a PR for this feature (I don't think it will be too hard to do) just wondering if you would accept a feature like this?

[2021-06-21 13:39] rako77 opened #233 "[Feature Request] Spotify Casting capabilities in the media browser."
I want to make a feature to allow Spotify to cast to Chromecast devices from the media browser.

I'm willing to do the brunt of the dev work on this.
I think the best place for a feature like this is in the official Spotify integration but as an unofficial Spotify API like the token you need to cast to a Chromecast device is unlikely to make it into home assistant core, I think this plugin is the

[2021-06-21 17:38] jazzyisj commented on #158
So to recap, what I think would be quite useful is a sensor to expose the Spotify account(s) playlists and properties.  This is to provide automatically updated playback/playlist data to be used for Spotify playlist selection when not using the Spotcast card to initiate playback.

I created some template sensors to test out the concept and it worked out well.  It eliminates a bunch of repetitive t

[2021-06-30 01:25] kmoniker opened #234 "Can't update Spotcast from 3.4.7"
**Describe the bug**
A clear and concise description of what the bug is.

* [ ] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x] Using latest stable version of Home Assistant
* [x] I have Spotify Premium
* [ ] I'm attaching relevant logs with level debug for component spotcast (see README)

**Describe the bug**
I

[2021-06-30 12:35] hmmbob commented on #234
Try reinstalling through HACS:
- go to HACS, check if spotcast is still there
- if yes: click the 3 small dots on the Spotcast card and choose "reinstall"
- if not: check if all files are gone under `/custom_components/spotcast' (and if not, delete them and reboot) and add spotcast again by clicking on the big blue button down below right hand side

[2021-06-30 18:50] fun4stuff opened #235 "Don't have 'get_spotify_devices ' in log after enabing debug log"
**Describe the bug**
A clear and concise description of what the bug is.

* [ ] Using latest version of spotcast
* [ ] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [ ] Using latest stable version of Home Assistant
* [ ] I have Spotify Premium
* [ ] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ ] I'm using entity_

[2021-06-30 22:04] atlflyer commented on #235
Same here. Spotify Premium; latest versions of everything; Spotify Connect device is a RPi on the same network as HA.

[code]

[2021-06-30 22:33] atlflyer commented on #235
Never mind. The debug output prints after calling the service using the friendly name as the device appears in the Spotify UI. The readme sort of implies that the friendly name parameter only works for chromecast devices, so I hadn't thought to try that. I guess that means the device_id isn't really needed if friendly name works.

[2021-07-01 00:13] fun4stuff commented on #235
That makes sense now that I look at it again. Got it working. Thanks for the reply!

[2021-07-01 00:13] #235 closed

[2021-07-02 19:44] Zip753 commented on #208
I am also trying to use a second account, however after I have set it up in the Spotify Developer App I can't get `spotcast` to play the private playlist from the second account, instead I'm getting a very similar error:
[code]
I have checked that I'm able to play the very same private playlist from the non-default account via the media player provided by the core integration. I'm however able to

[2021-07-13 12:01] fondberg commented on #234
Closing due to inactivity

[2021-07-13 12:01] #234 closed

[2021-07-13 12:02] fondberg commented on #233
Hi!

sounds interesting. Can you point to some docs on that API?

[2021-07-13 12:03] fondberg commented on #158
Hi!
what types of playlists should there be? Personal playlists I guess.

[2021-07-13 14:37] jazzyisj commented on #158
Yes, I think that would make the most sense.   I guess basically what I'm looking for is to expose the data that would populate your Spotify Lovelace Card (the playlists most importantly, and also the current source/play state) for each account set up in Spotcast.

Essentially I have my own custom lovelace "media" (streaming radio, Spotify etc) launcher card that integrates Spotify using Spotcast

[2021-07-14 03:35] jazzyisj commented on #158
Hmm.   This seems like it would be a prime candidate for [the new select entity mentioned in the latest HA Release Notes ](https://www.home-assistant.io/blog/2021/07/07/release-20217/#new-entity-select).  Looks like it could totally eliminate the requirement for automation above that populates the playlist input_select entity.  Might useful for the cast device sources too.

[2021-07-16 19:27] XalaTheShepard opened #237 "Spotcast stops playing after approximately 1 hour"
Dear all,

I am currently running Spotcast version 3.6.14 and version 2021.07.3 of HA, but this issue also occurs in older versions of both.
The Spotify integration is installed in Home Assistant and I use only one account.
After approximately casting Spotify via Home Assistant to my Google Home, the music stops playing.
I have no issues restarting a playlist, but always after approximately one ho

[2021-07-16 21:05] ASNNetworks commented on #237
This can't be solved and has been addressed multiple times. Should be mentioned in the ReadMe. The token expires after one hour, which means the music stops and you need to call the service again. When you start listening, it generates a token that is valid for one hour. It won't generate a new one if you stop and start within the hour as far as I know. So this is why sometimes it might feel less

[2021-07-20 22:13] skipishere commented on #237
Lots of information about this in issue #13

[2021-07-22 19:38] fondberg commented on #237
https://github.com/fondberg/spotcast/issues/13

[2021-07-22 19:38] #237 closed

[2021-07-22 19:38] fondberg commented on #232
Sure. I'll look into it

[2021-07-25 12:20] fondberg commented on #233
@rako77 can you elaborate?

[2021-07-28 09:47] mrlexley opened #238 "Spotcast stopped working, to many redirects error."
**Describe the bug**
A clear and concise description of what the bug is.

* [ x ] Using latest version of spotcast
* [ x ] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [ x ] Using the latest stable version of Home Assistant
* [ x ] I have Spotify Premium
* [ x ] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ x ] I

[2021-07-28 19:49] pergolafabio commented on #238
yeah, seeing it too since  a few days
my mediaplayer spotify is still working, so token should be correct

[2021-07-30 10:25] mrlexley commented on #238
It looks like the token had an issue. After clearing the cache and requesting new tokens everything worked fine.

[2021-07-30 10:25] #238 closed

[2021-07-30 10:29] pergolafabio commented on #238
can you describe the steps you did?
did you just remove this file?

.spotifyplaylist-token-cache

[2021-07-30 10:51] mrlexley commented on #238
I cleared indeed the cache file.
I cleared the browser cache where I created the cookie token.
Then I logged back on to https://open.spotify.com/.
Copied the new token and client_id.
After that everything worked fine again :-)

[2021-08-04 15:12] Electronlibre2012 opened #239 "homeassistant.exceptions.HomeAssistantError: Could not get spotify token"
**Describe the bug**
A clear and concise description of what the bug is.
"no device found" error after upgrade HA to 2021.8.0 today

* [x] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x] Using latest stable version of Home Assistant
* [ ] I have Spotify Premium
* [x] I'm attaching relevant logs with level debug

[2021-08-04 15:29] hmmbob commented on #239
Try adding Spotify (the HA core one) again (or: try to relink spotify from within Home Assistant)

[2021-08-04 15:54] Electronlibre2012 commented on #239
thanks @hmmbob but as you can read, the problem is related to ```spotcast``` not ``spotify``

sp_dc and sp_key have changed...lol

just check and update in configuration.yaml

spotcast:
  sp_dc: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  sp_key: xxxxxxxxxxxxxxxxxxx

Work again like a charm!

[2021-08-04 15:54] #239 closed

[2021-08-08 17:19] jjansen85 opened #240 "Getting chromecast devices runs every 10 seconds"
**Describe the bug**
Getting chromecast devices runs every 10 seconds. Maybe this is normal behaviour, but I cannot find any information about this.
But every 10 seconds seems a little bit too frequent.

* [x] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x] Using latest stable version of Home Assistant
* [x] I h

[2021-08-10 23:36] umutcelebi commented on #13
Any updates? This is probably impossible to solve the issue i guess?

[2021-08-12 14:59] hmmbob opened #241 "Timeout when waiting for status response from Spotify app"
**Describe the bug**
A clear and concise description of what the bug is.

* [X] Using latest version of spotcast
* [X] I have setup the Spotify integration in Home Assistant
* [X] I am using multiple accounts
* [X] Using latest stable version of Home Assistant
* [X] I have Spotify Premium
* [x] I'm attaching relevant logs with level debug for component spotcast (see README)
* [X] I'm using entity_

[2021-08-12 20:39] mattc157 commented on #241
I have the same issue :(

[2021-08-12 22:35] misha1183 commented on #241
Та же проблема. Появилась после обновления Home Assistant 2021.8.6

[2021-08-12 22:36] misha1183 commented on #241
![01](https://user-images.githubusercontent.com/87187097/129278622-4d946490-fcda-4781-9c05-907ef556210b.jpg)

[2021-08-12 22:55] mauro967 commented on #241
Stesso Problema
![SharedScreenshot2](https://user-images.githubusercontent.com/60579472/129280233-02af0ad5-bd98-4241-808d-8c81c31c90d5.jpg)

[2021-08-13 02:49] johnsmsm commented on #241
I also have the same issue since yesterday.
![Screenshot (2311)](https://user-images.githubusercontent.com/49802304/129298059-d269a819-b16a-40b9-806e-568ff3ad091f.png)

[2021-08-13 02:55] Gio76 commented on #241
Same issue here after updating to Home Assistant core-2021.8.6

![image](https://user-images.githubusercontent.com/26906928/129298454-e4f370bb-a1ea-411e-9458-02c72a54e51f.png)

[2021-08-13 04:50] Gio76 commented on #241
I just downgraded to **core-2021.8.5** and the issue still occurs. I have had Spotcast for a long time and have never had these error messages before. Started occurring a couple of days ago.

**Describe the bug**
Spotcast fails to start playing on 2021.8.5 and 2021.8.6

* [x] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple acc

[2021-08-13 05:37] LukasOchmann commented on #241
Describe the bug
Spotcast fails to start playing on 2021.8.5 and 2021.8.6

- [ x]  Using latest version of spotcast
- [ x] I have setup the Spotify integration in Home Assistant
- [ ] I am using multiple accounts
- [ x] Using latest stable version of Home Assistant
- [ x] I have Spotify Premium
- [ ] I'm attaching relevant logs with level debug for component spotcast (see README)
- [ x] I'm using

[2021-08-13 06:12] rob1303-hub commented on #241
I am also getting the same timeout issue in HA.

Setup
- Multiple google home/nest hub max, home/nest hub and mini/nest speakers.
- single spotify account
- HA operating system
- usually use - nfc readers and HA custom-jukebox automation to play playlists

**Tried to test around this. Findings:**
- generated and input new sp_dc & sp_key details - did not resolve the issue
- rolled back to 2021.8.4

[2021-08-13 06:43] hmmbob commented on #241
As I am feeling this isn't a Spotcast but a pychromecast error, I've opened an issue there too ☝🏻

[2021-08-13 07:40] koenadolfs commented on #241
Same issue here. Rolling back to old configurations did not solve the issue for me as well.

[2021-08-13 14:28] hmmbob commented on #241
Seems that it is *not* a Spotcast issue: https://github.com/home-assistant-libs/pychromecast/issues/520#issuecomment-898478947

[2021-08-13 21:28] mauro967 commented on #241
In effetti il problema lo avevo riscontrato prima dell' aggiornamento alla 2021.8.6 me lo faceva anche con la 2021.8.3 da ieri, prima tutto funzionava...

[2021-08-13 22:06] umutcelebi commented on #241
I can confirm that i have the problem on 8.4 so it is not a HA update which occurs this problem.

[2021-08-14 22:12] kylepotts commented on #241
I created a pr https://github.com/home-assistant-libs/pychromecast/pull/521 that seems to fix the issue. Not totally proud of that fix though.

[2021-08-15 00:35] kazigk commented on #241
* [x] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x] Using latest stable version of Home Assistant (with patch applied from home-assistant-libs/pychromecast#521)
* [x] I have Spotify Premium
* [x] I'm attaching relevant logs with level debug for component spotcast (see README)
* [x] I'm using entity_id in the s

[2021-08-15 03:11] kylepotts commented on #241
@kazigk
Can you add

[code]

  to your configuration.yaml and look for any relevant logs from pychromecast?

[2021-08-15 09:19] kazigk commented on #241
@kylepotts
Sure. It tells me what I already know - the Spotify app is being launched, but it seems like I'm not authenticated to it. If I stop casting from Home Assistant and start casting from my browser or my phone, everything works fine.

[code]

[2021-08-15 12:48] kylepotts commented on #241
@kazigk
I pushed some changes to my branch on pychromecast.

I was able to follow the instruction here https://pypi.org/project/PyChromecast/ and get a network capture. This show they were using a different "refreshed" token and a new command for authorizing.

Can you give that new patch a try and see if it works?

[2021-08-15 13:33] kazigk commented on #241
@kylepotts

Big kudos to you. It's working like a charm now!

[2021-08-15 13:36] umutcelebi commented on #241
I am verry new at HA. How can i fix this?

[2021-08-15 13:37] kazigk commented on #241
@umutcelebi

It depends on how you installed Home Assistant. If you installed it from Docker image, this is the file you need to patch/replace: `/usr/local/lib/python3.9/site-packages/pychromecast/controllers/spotify.py`.

[2021-08-15 13:38] umutcelebi commented on #241
I have hassos. I have flashed my ssd with it and installed my ssd back in my minipc.

[2021-08-15 13:41] kylepotts commented on #241
I'm not familiar with how hassos is packaged. I currently use a docker image and I am able to patch the file like kazigk mentioned above.

If you're able to ssh into the box you can try replacing that file? Otherwise my guess is we would need to get this merged and the hassos folk would need to push an update.

[2021-08-15 13:43] kazigk commented on #241
Yeah. Just wait for it to get merged. Home Assistant is usually pretty quick with its releases.
If you're unsure on how to apply this fix, you probably shouldn't apply it.

[2021-08-15 14:41] fondberg commented on #240
this is spotify card which does NOT spotcast

[2021-08-15 14:41] #240 closed

[2021-08-15 14:43] fondberg commented on #241
There are two PRs in pychromecast, PR 509 is the most interesting as it 1. is older, 2. doesn't use any private APIs.
PLease help me test 509 and see if that works by itself

[2021-08-15 15:42] kylepotts commented on #241
Trying the code in 509 leads me to this error

[code]

Received: Message urn:x-cast:com.spotify.chromecast.secure.v1 from f59a660b-975b-4f40-9c55-e61d0fa040da to sender-0: {'type': 'addUserError', 'payload': {'status': 202}}

Which is what I was getting before I added in that private api.

[2021-08-16 14:05] obbers opened #242 "[Feature Request] Allow setting a private session in the API"
I stream a lot of Lofi playlists during the day as background noise, but it's definitely affecting my recommendations and new music discoveries.  Can the API be upgraded to allow Private Session streaming?  The other use case is to allow my kid to pick music and not impact recommendations as well.

[2021-08-17 20:35] seanmccabe opened #243 "Playback does not start"
**Describe the bug**
A clear and concise description of what the bug is.

* [X] Using latest version of spotcast
* [X] I have setup the Spotify integration in Home Assistant
* [X] I am using multiple accounts
* [X] Using latest stable version of Home Assistant
* [X] I have Spotify Premium
* [X] I'm attaching relevant logs with level debug for component spotcast (see README)
* [X] I'm using entity_

[2021-08-17 20:38] DibblesNL commented on #243
#metoo

[2021-08-17 20:39] hmmbob commented on #243
Duplicate of https://github.com/fondberg/spotcast/issues/241

[2021-08-19 21:13] g189ffin commented on #241
Any chance you could give us some guidance on how you got it working at your end? That way we could get our home assistant updated and spotcast working too? I've noticed another issue has been raised on this so clearly people are looking for a fix.

[2021-08-22 00:17] seanmccabe commented on #241
I modified the file, but all that happened was that the spotcast service was no longer available.
I did restart HA after modifying the file.
Restoring the file, restored the spotcast service.

[2021-08-22 10:24] steveguitar78 commented on #241
Same issue. No news?
thank you

[2021-08-22 15:29] rob1303-hub commented on #241
I have copied across the 3 files @kylepotts has changed to my custom_componets/spotcast folder and I can confirm this fixes the issue for me.

Thank you.

[2021-08-22 15:34] umutcelebi commented on #241
Hi, is there any guide how we can do this ourself on Hass OS?

[2021-08-22 15:51] rob1303-hub commented on #241
Make sure you have a backup.....

**This is how I did it:**

Go to the 3 files Kyle has created:
 - https://github.com/fondberg/spotcast/blob/441a28ad1f234f3fa9ff59eccdea7a73c65d5e59/custom_components/spotcast/const.py
 - https://github.com/fondberg/spotcast/blob/441a28ad1f234f3fa9ff59eccdea7a73c65d5e59/custom_components/spotcast/spotcast_controller.py
 - https://github.com/fondberg/spotcast/blob/

[2021-08-22 15:52] steveguitar78 commented on #241
is spotify_controller a new file?

[2021-08-22 15:53] rob1303-hub commented on #241
It was for me.

[2021-08-22 16:13] g189ffin commented on #241
Brilliant! thanks for that, I have got it working again too!

[2021-08-22 16:16] steveguitar78 commented on #241
Thank you so much. It works.
What is APP_SPOTIFY = "CC32E753" ?

[2021-08-22 16:31] umutcelebi commented on #241
You are awesome! Problem seems solved 💯

[2021-08-22 16:59] jplamb13 commented on #241
You are all awesome - i use Home assistant to play music to help the kids fall asleep each night using their own accounts instead of destroying my Spotify with Frozen music or other Disney  "music". When this broke it caused so many problems with bedtime but that is now a thing of the past. Thank you for the work on fixing this!!!!

[2021-08-22 17:18] kylepotts commented on #241
I actually took that info from https://github.com/home-assistant-libs/pychromecast/blob/master/pychromecast/config.py#L13
but long story short is that with chromecast each app (spotify/netflic/etc) have their own appIds which they register with. We use those ids to determine what messages to listen to in response. So when spotify says hey I acknowledge you asking to play this song we can tell it w

[2021-08-22 17:47] misha1183 commented on #241
СПАСИБО!!!!! Заработало. ВЕЛИКОЛЕПНО!!!

[2021-08-22 19:42] Joooost commented on #241
Great job! Works like a charm after replacing the 2 files and adding the new file. Tested this with multiple account without any issue.

[2021-08-22 19:56] seanmccabe commented on #241
Works great. Good job and thank you.
Kids are happy again :)

[2021-08-22 19:57] seanmccabe commented on #241
In the ex act same boat, so good its working again :)

[2021-08-22 20:19] seanmccabe commented on #243
https://github.com/fondberg/spotcast/pull/244

Resolves the issue.

[2021-08-22 20:19] #243 closed

[2021-08-22 23:40] daften opened #245 "Playing on chromecast devices doesn't work"
**Describe the bug**

I couldn't play to chromecast devices. I set everything up according to the README: spotify integration, spotcast, lovelace-spotify-card. So I checked issues #182  and #174  and followed the steps in there. I re-started the setup then and only used one account.

Reporting this here since it seems to be a spotcast issue, not of the spotify-lovelace-card.

I see this in the log

[2021-08-22 23:46] daften commented on #245
Some more info I just noticed. It seems spotify does try to connect to the chromecast device, but it just never starts playing. I can see this because the card for the cast player I have next to this, shows spotify connected to it at the time I tried to play a playlist.

[2021-08-23 10:43] skipishere commented on #245
Possibly a duplicate of #241

[2021-08-23 12:00] MetanoKid commented on #245
Had this issue, tried #244 and it's working now 👍

[2021-08-23 13:19] n00bcodr commented on #245
Can confirm fix mentioned in #244 works. Thanks!

[2021-08-23 15:55] daften commented on #245
#244 works for me too, closing this :)

[2021-08-23 15:55] #245 closed

[2021-08-23 20:52] vdbrink commented on #37
This happends when you first set the spotcast settings in your configuration.yaml before you installed the spotcast integration and restarted HA.

[2021-08-23 22:03] mauro967 commented on #241
I replaced the 3 files and now everything works. Thanks to everyone also for the explanations and thanks to everyone for the work done Great !!!!

[2021-08-24 16:43] jgelon opened #246 "Spotcast is casting but not starting Spotify playlist"
**Describe the bug**
I configured Spotcast as defined in the Readme and it was working smoothly. However recently (don't know the exact date) it stopped working. So I updated my sp_dc and sp_key again as this might be needed but to no succes.
What I can see is that it is casting something with the name Spotify to my audiocast (or Nesthub for testing purposes) but the Spotify screen is not shown.

[2021-08-24 16:48] hmmbob commented on #246
Probable duplicate of https://github.com/fondberg/spotcast/issues/241

[2021-08-24 18:58] Chacsam commented on #241
https://github.com/fondberg/spotcast/issues/241#issuecomment-903289358
After copying the 3 files & restarting HA, it doesn't even find the spotcast.start service anymore.
Am I the only one?
Did I do something wrong?

[2021-08-25 16:14] jgelon commented on #246
Following the steps of #241

Solved the issue

[2021-08-26 11:14] snp88 opened #247 "Playlist sensor error 'builtin_function_or_method' object is not iterable"
**Describe the bug**
A clear and concise description of what the bug is.

* [x] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x] Using latest stable version of Home Assistant
* [x] I have Spotify Premium
* [x] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ ] I'm using entity_

[2021-08-28 16:14] skank01 commented on #233
This would rock !

[2021-08-29 11:09] #247 closed

[2021-08-29 12:02] snp88 commented on #247
all good
thx all for fast reaction ;)

[2021-08-30 13:17] ChengyiP commented on #241
Great stuff.. working right after the update.. super grateful.

[2021-08-30 20:58] fondberg commented on #242
Can you provade me with the api for that using Spotipy or Spotify web api?

[2021-08-30 21:36] Marcos-kp opened #249 "Timeout when waiting for status response from Spotify app"
**Describe the bug**
A clear and concise description of what the bug is.

* [x] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x] Using latest stable version of Home Assistant
* [x] I have Spotify Premium
* [x] I'm attaching relevant logs with level debug for component spotcast (see README)
* [x] I'm using entity_

[2021-08-31 13:26] Darkfull-Dante opened #250 "Question for enhancement PR"
I'm working currently on a potential pull request to add a feature to spotcast. I'm trying to implement a search function that could return the most relevant uri based on a string provided in the service request.

I do have a working prototype in python currently that can fetch the result in the spotify API, but I'm wondering what the best way would be to authenticate using this custom_component.

[2021-08-31 20:31] Darkfull-Dante commented on #250
nevermind I found the solution

[2021-08-31 20:31] #250 closed

[2021-09-02 02:22] jazzyisj commented on #158
Ah ha.  Thought you'd slide this in there without telling anyone eh?  Works perfectly! :-)

Here are my updated automations to populate the input_select and then keep it in sync if the current playing playlist changes via some other method (Spotcast Card, Google Home, Mobile App etc.)

[code]
And here is how I start Spotcast using the input_select and the playlist sensor URI.

[code]
![image](http

[2021-09-02 02:22] #158 closed

[2021-09-02 11:01] Darkfull-Dante commented on #249
I've had the same issue will working on a PR. The issue seems to have been limited to monday-tuesday. I've been doing extensive testing for #251 and haven't replicated the issue yet since yesterday.

[2021-09-02 11:20] Darkfull-Dante commented on #242
There is no reference for a private session in spotipy documentation (only 4 occurences of the word private and all in reference to a public/private playlist) (verified using [spotipy](https://spotipy.readthedocs.io/en/2.19.0/).

The documentation from Spotify's API does refer for a is_private_session() in the in the me/player, but it doesn't seem to be possible to set it, only check it. [User Pro

[2021-09-02 11:42] Darkfull-Dante commented on #242
To add to my previous comment. I did some test from my phone and private session is auto turned-off when starting to use spotify connect. (The option is marked unavailable and grayed out in the menu and the api returns false to is_private_session).

[2021-09-02 12:26] kylepotts commented on #249
Its possible Spotify changes their auth mechanism or it might be different for different devices.

If you can try following these docs https://github.com/home-assistant-libs/pychromecast#exploring-existing-namespaces
and seeing if it follows the same auth mechanism we have coded for that would be helpful. I would ask that you share that network dump but it could contain sensitive info so thats not

[2021-09-07 22:00] antonbek89 opened #252 "websocket_api script: Error executing script. Unexpected error for call_service at pos 1: 'NoneType' object is not subscriptable"
**Describe the bug**
A clear and concise description of what the bug is.

* [X ] Using latest version of spotcast
* [ X] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [ X] Using latest stable version of Home Assistant
* [ X] I have Spotify Premium
* [ ] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ ] I'm using ent

[2021-09-07 23:28] Darkfull-Dante commented on #252
Would you be able to provide a debug log? There seems to be a problem in getting the list of Spotify devices. You can check [this](https://github.com/fondberg/spotcast#enabling-debug-log) on how to

[2021-09-08 14:15] skank01 commented on #233
I dont think theres an api for media browser
Media browser is part of HA
Not sure if @rako77 is willing to elaborate, since theres no reply here

[2021-09-10 07:41] augustocdias opened #253 "Question about config"
In this section of the docs:

[code]
Does that mean that false will only play the latest episode and true will play all already played ones?

[2021-09-11 23:34] icarome commented on #253
False will mean that it will play the latest released episode regardless of it had been already fully played or not.
True will play the latest episode that hasn't been played yet. Regardless of which option you choose the spotify will play through the episodes

[2021-09-13 07:23] #253 closed

[2021-09-13 08:49] MagicMicky commented on #13
Maybe I'm wrong but I think the changes done in https://github.com/fondberg/spotcast/pull/244 indeed has solved this; I didn't try that very carefully but that's the impression i've had lately

[2021-09-13 18:37] gmcmicken commented on #13
Nice, good work @fondberg, I've been too busy with my kids (youngest is 2 months old) to contribute here, but have been following with my fingers crossed!

[2021-09-16 04:05] AlphaJosh commented on #252
Let me jump in and offer my debug logs. My setup and configuration is pretty much identical.

script:
  alias: Music Friday
  sequence:
  - service: spotcast.start
    data:
      uri: 'spotify:playlist:56Bor5fbMJlJV7oryb2p3k'
      random_song: true
      shuffle: true
      start_volume: 50
      entity_id: media_player.kitchen

2021-09-16 14:35:54 DEBUG (SyncWorker_9) [custom_components.spotcas

[2021-09-16 04:12] AlphaJosh commented on #252
Note: issue unaffected after disabling random and shuffle

[2021-09-17 12:26] Darkfull-Dante commented on #252
I think I see the problem, it seems that spotcast can't find any spotify connect devices under your spotify HA integration. I'm going to ask question just for a base line, they might seem silly, but I want to make sure:

- [ ] Do you have the official Spotify Integration in Home Assistant up and running
- [ ] If you play music in any spotify app (phone or computer) and then go in dev tools and sea

[2021-09-18 11:00] AlphaJosh commented on #252
Woohoo RESOLVED (for me)
Spotify Integration wasnt installed. I installed the Spotify Integration and got an error showing Abort and the Integration didnt install.
I am using a Spotify Family Account so checked I could install the Spotify Integration with the main Spotify account and I could.
I think reconfigured my sp_dc etc and restarted and now it works!

For your reference, I could previously

[2021-09-18 22:05] Darkfull-Dante commented on #252
Thank you for the information, I'll check to add an error log in this case. Also if an error management would be possible

[2021-09-21 18:57] fondberg opened #254 "looking for co-maintainers."
If you think you can help out with testing and releasing plz add a comment below.
Tldr I have for personal reasons right now not the time for the tlc needed for this project

[2021-09-21 19:44] kylepotts commented on #254
I don't mind helping. I'm a bit busy myself at the moment but could help contribute where I can.

[2021-09-22 16:15] Darkfull-Dante commented on #254
I'm also interested

[2021-09-22 17:21] Darkfull-Dante commented on #252
worked on a branch in my fork [corr_252](https://github.com/darkfull-dante/spotcast/tree/corr_252). The correction includes 2 elements:
- added an error message when no spotify media player is not found
- forced a return none at the end get_spotify_devices
- managed if get_spotify_devices return none in _getSpotifyConnectDeviceId

[2021-09-23 14:13] fondberg commented on #254
Great! I'll add you so you! releasing simple in github after a merge to master with new release number

[2021-09-23 14:19] fondberg commented on #252
I guess we can add a check on init to see that the spotify integration is installed...

[2021-09-24 14:04] Darkfull-Dante commented on #254
Hi @fondberg, appart from the `make bump` do you have a particular workflow for updates that you would like to keep? I could work on documentation to future proof a procedure.

[2021-09-25 13:32] skank01 commented on #233
Since new people are joining further development here, is this on the road, i think many people wants this.
I find it still strange this hasnt been on developemnt ages ago (no offence meaning you guys dont progress hard enough.
All respect in what you guys are doing.
Take your needed time !

[2021-09-25 20:39] JamieEC commented on #249
I am also facing this issue. Any workarounds?

[2021-09-26 04:03] k2xl opened #256 "Podcast support?"
I can see how to get playlists to work with the Lovelace card, but is there a way to get Spotify podcasts to work too?

[2021-09-26 04:05] k2xl commented on #256
Wow I'm dumb. I see it in docs that it is supported. Closing

[2021-09-26 04:05] #256 closed

[2021-11-02 11:03] mfabiani53 opened #258 "Spotcast can't find Spotify integration even if it's installed"
**Describe the bug**
After installing the latest release (v. 3.1.18) the integration is not loaded with the following errors:
[code]
It seems spotcast is not recognizing the spotify integration regularly installed as you can see:

![image](https://user-images.githubusercontent.com/37701688/139834517-285b9874-853c-47c3-9997-4966de125ee5.png)

and also from /.storage/core_entity_registry it is compl

[2021-11-03 08:30] snp88 commented on #258
Have the same issue

Workaround is to completely restart your  virtual or real machine
pull the plug ;)

[2021-11-03 10:53] mfabiani53 commented on #258
@snp88 you mean i must turn off completely my raspberry and then turn on again?

[2021-11-03 10:59] hmmbob commented on #258
Possible regression of https://github.com/fondberg/spotcast/pull/255

@Darkfull-Dante

[2021-11-03 11:11] snp88 commented on #258
@mfabiani53  i have my HA in virtual machine but in short word yes if you unplug your raspberry and turn on again it should be ok this is what i do with my HA but my instance is on Virtual machine

[2021-11-03 11:24] Darkfull-Dante commented on #258
thank you for the report @snp88, during testing I never add that race condition come up. We are releasing a new feature today from a PR we receive, we will simply keep the error message for the time being to be able to troubleshoot. I'll look into a more elegant way to test the presence of the Spotify integration

[2021-11-03 11:39] Darkfull-Dante commented on #258
I did a quick check of the manifest file and dev documentation and we could try and add spotify in the after_dependencies section of the manifest. For the current release I will go with simply the quick fix (not aborting the setup).

This potential solution still need testing before implementing

[2021-11-03 11:53] Darkfull-Dante commented on #258
#259 was merged with v3.6.19.

@hmmbob @snp88, I will keep this issue open for the moment, please report if the problem persists. I will work and test the after_dependencies solution. If I release a beta with the fix is any of you able to test under your setup? My current dev env only permits me to test the Docker install

[2021-11-04 07:59] snp88 commented on #258
Hi
@Darkfull-Dante  I update to newest spotcast and problem persist
but now beside errors spotcast work

![image](https://user-images.githubusercontent.com/46537540/140277540-aa40239e-83b6-45b5-98df-c20413c7aee8.png)

[2021-11-04 09:36] Darkfull-Dante commented on #258
@snp88 it is normal, v3.6.19 only reverts the aborting of the setup for the moment, I still maintain the error log as a check, I'll be working on a beta release that contains the potential fix. I'm currently running that fix in my dev env without problem, sadly it doesn't mean much because I never had the race condition you had

[2021-11-04 09:53] snp88 opened #261 "After update to v3.6.19 I have Get Playlist 404"
**Describe the bug**
A clear and concise description of what the bug is.

* [x] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x] Using latest stable version of Home Assistant
* [x] I have Spotify Premium
* [x] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ ] I'm using entity_

[2021-11-04 10:02] snp88 commented on #261
maybe this can help

https://github.com/spotify/web-api/issues/434

[2021-11-04 17:38] Darkfull-Dante commented on #261
@snp88 can you try to upgrade to v3.6.20, it should resolve your problem. Can you confirm

[2021-11-04 18:36] snp88 commented on #261
@Darkfull-Dante

Looks good on v3.6.20

![image](https://user-images.githubusercontent.com/46537540/140399612-82855feb-c1da-43e4-bbcd-b47c11a84952.png)

[2021-11-04 18:47] gmcmicken commented on #261
I believe you were seeing this error because an invalid "playlist_type" value was passed to the method. By design the new functionality must accept any string and pass this through to spotify API. To get your saved playlists you should pass `user` or `default` and not `playlists`. The previous functionality always returned user playlists if you passed an arbitrary string.

Valid values are: `user`

[2021-11-04 23:02] jazzyisj commented on #261
I also had this issue with the playlists sensor with v3.6.19.  Sensor is back after update.  Log errors appeared on startup before any spotcast service calls.

[2021-11-05 05:30] gmcmicken commented on #261
Thanks @jazzyisj okay so it's for users who have:
[code]
in their config (I did not), and I can see in sensor.py it is calling get_playlists with "playlists" which is a little strange because it doesn't follow what is expected from spotcast controller!

Anyway, it's a simple fix we can get in.

[2021-11-05 12:38] Darkfull-Dante commented on #261
@gmcmicken @snp88 to be completely honest its fully my fault, I completely forgot to activate the sensor when doing QA. I'll work on a proper QA procedure that we can add in our documentation, so we don't make silly mistaken like this one. Sorry for any inconvenient that the bad release might have caused

[2021-11-05 15:19] Darkfull-Dante commented on #258
@snp88 can you confirm the issue with loading Spotcast integration is gone following v3.6.20? You should now have no error logs regarding finding the Spotify integration

[2021-11-05 17:12] gmcmicken commented on #233
@rako77 You could probably prototype this using "[universal media player](https://www.home-assistant.io/integrations/universal/)" and an input_select helper.

[2021-11-05 17:13] Darkfull-Dante commented on #261
#263 resolves merge problems, I'll test the new code

[2021-11-05 19:33] mfabiani53 commented on #258
On my system I still get errors in loading spotcast integration also with 3.1.20

custom_components.spotcast.helpers] spotify integration not found
2021-11-05 20:20:43 ERROR (SyncWorker_0) [custom_components.spotcast] Spotify integration was not found, please verify integration is functionnal. Could result in python error...

[2021-11-05 20:21] Darkfull-Dante commented on #258
@snp88 ok, thank you for the information, so even with forcing spotcast to load after spotify there is still a possible race condition for certain user. I'll remove the abort setup for following releases. Will simply keep it a debug log for the moment.

[2021-11-05 22:26] #261 closed

[2021-11-06 01:01] jazzyisj commented on #261
@Darkfull-Dante just confirming I have updated to 3.6.21 and all seems ok.

Thank you for the rapid bugfix!

[2021-11-06 04:05] Luth1ng opened #264 "Got the error _http status: 404 [...] Device not found, reason: None_ when trying to call the service to a Spotify Connect device."
* [x] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x] Using latest stable version of Home Assistant
* [x] I have Spotify Premium
* [x] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ ] I'm using entity_id in the service call and have tried device_name but the issue remains
*

[2021-11-06 09:13] mfabiani53 commented on #258
@Darkfull-Dante are you referring to my latest message?

[2021-11-06 09:22] hmmbob commented on #258
@mfabiani53 and @snp88: I wonder what will happen if you:

- disable spotcast (remove from configuration.yaml or put # in front of all spotcast related lines)
- delete the spotify integration,
- restart HA
- add spotify again
- enable spotcast

As we only see 2 reports now (from you both), and Spotcast is used quite a bit, I am thinking it might be something locally. It's worth trying to see if it

[2021-11-06 13:02] Darkfull-Dante commented on #264
There seem to be a problem in the api call toward Spotify id at the moment. I'll look into it. I add the same traceback when using the uuid. You can circumvent the situation by calling the entity_id instead. This didn't come up during testing for 3.6.21.

For future reference, it is not a duplicate of #261, this 404 error is related to player id api call not playlist api call

[2021-11-06 13:03] Darkfull-Dante commented on #264
@Luth1ng, can you confirm the usage of entity_id instead of spotify_id works for you?

[2021-11-06 13:04] Darkfull-Dante commented on #258
oh sorry @mfabiani53, I referred to the wrong user, yes I was talking about your last message. Can you verify if the problem still persist in 3.6.21?

[2021-11-06 14:21] Luth1ng commented on #264
Hi @Darkfull-Dante

I cannot use the entity_id as it's not an entity added to my home assistant instance. It's just a regular device (TV) with the Spotify Connect capability. It's the same for my PS5 for example.

Well, I followed the instructions from the README, and got the ID in logs :
`2021-11-06 18:07:25 DEBUG (SyncWorker_4) [custom_components.spotcast.helpers] get_spotify_devices: media_play

[2021-11-06 14:31] Darkfull-Dante commented on #264
Thank you for the detail @Luth1ng. What is strange is that the ID contains '-' which shouldn't be the case for a device ID. I'm unfamiliar with webOS devices are they chromecast base for the spotify play back or do they have their own backend?

[2021-11-06 14:51] mfabiani53 commented on #258
Yes asap I'll let you know...

[2021-11-06 16:27] snp88 commented on #258
Hi All

sorry for late response
since i update to the version .21 issue not show in my instance.
I trigger few restarts and no problem so in my opinion we are good to close this
@Darkfull-Dante  thx for all work and fast reaction :)

[2021-11-06 16:29] snp88 commented on #261
@Darkfull-Dante  Good job
Spotcast work like a charm 👍

[2021-11-06 16:54] Darkfull-Dante commented on #258
No problem, thank you for the testing. I'll keep this ticket around so we can eventually have an elegant way to test for the presence of the spotify integration

[2021-11-06 16:54] #258 closed

[2021-11-06 18:36] Luth1ng commented on #264
It’s their own backend like the PS5 is a native app on the OS. It’s very similar to chromecast casting.

Just the Windows Spotify software. It also works with iOS app or web app (open.spotify.com)

[2021-11-06 20:12] Darkfull-Dante commented on #264
@Luth1ng When you check in the dev tool your media_player entity linked to your spotify account can you see the webos tv in the source_list?

[2021-11-06 21:08] Luth1ng commented on #264
No, here's my config :

`source_list:
  - DESKTOP-4AKPLC2
volume_level: 0
media_content_type: music
shuffle: false
friendly_name: Spotify
icon: mdi:spotify
supported_features: 444983
`

[2021-11-06 21:41] Darkfull-Dante commented on #264
Hi @Luth1ng,

Well that's a problem, it's impossible for spot cast to communicate with a device if it's not in the spotify connect list. That list is fed directly from spotify so it is not dependant on your configuration of home assistant, spotify integration or spot cast.

Due to the fact, we are talking about a non Chromecast device, I will have to close the ticket. Spotcast is a layer to make s

[2021-11-07 02:01] #264 closed

[2021-11-10 20:51] javiges opened #265 "I have a problem, the list of songs does not appear and it gives this error in the ha log"
**Describe the bug**
A clear and concise description of what the bug is.

* [x ] Using latest version of spotcast
* [x ] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x ] Using latest stable version of Home Assistant
* [ x] I have Spotify Premium
* [ x] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ ] I'm using en

[2021-11-12 20:21] gmcmicken commented on #265
Hi, I believe you just need to clear your browser cache and re-login to spotify and obtain the token per the instructions.

[2021-11-14 11:43] javiges commented on #265
was what I did and it worked, I changed the sp_key for some reason, thanks

[2021-11-15 17:56] #265 closed

[2021-11-17 01:23] jaburges commented on #165
Is this local or cloud based @fondberg as sonos devices show up as spotify sources when on the LAN.

[2021-11-25 12:26] javiges opened #266 "Problem with alexa device names"
**Describe the bug**
It does not show me in the list of devices the names of each alexa I get a row of numbers and it is not known who alexa is

* [x ] Using latest version of spotcast
* [ x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [ x] Using latest stable version of Home Assistant
* [x ] I have Spotify Premium
* [ ] I'm attaching relevant logs w

[2021-11-25 19:46] Darkfull-Dante commented on #266
I don't have Alexa devices myself, we will need someone with Alexa devices to be able to troubleshoot.

@javiges if I provid you with step by step and code snippet would you be comfortable to do troubleshoot for this issue? If yes, the first thing I would need is a debug log from spotcast, you can follow [this procedure](https://github.com/fondberg/spotcast/wiki/Submit-a-debug-log)

[2021-11-26 06:53] javiges commented on #266
2021-11-25 22:24:48 DEBUG (SyncWorker_5) [custom_components.spotcast.spotcast_controller] setting up with  account default
2021-11-25 22:24:48 DEBUG (SyncWorker_5) [custom_components.spotcast.spotcast_controller] expires: 1637878788 time: 1637875488.7567387
2021-11-25 22:24:48 DEBUG (SyncWorker_5) [custom_components.spotcast.helpers] get_spotify_devices: media_player.spotify_xxxx: Spotify xxxxxx:

[2021-12-01 15:19] Mothamoz opened #267 "Casting returns error 'total'"
**Description**
Spotcasting my playlist to a device (through entity_id) works fine, however whenever I enable 'Random Song' or 'Offset' the service doesn't run at all and errors out saying 'total'. See logs below for more information.

* [x] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [x] Using latest stable version of Home Assistant
* [x] I have

[2021-12-02 15:35] Vince3009 opened #268 "Error loading /config/configuration.yaml: Secret AQCnU1anJxnU9ghap***********************gNYeq3DM6Gqm0qPsruYlvNwgmRGW7ZXV5Fs49kue3vOnJNFzaTBYxJnQ177fd0eH*********** not defined"
I'm facing this issue while testing the configuration? Not sure from what it come.

Error loading /config/configuration.yaml: Secret AQCnU1anJxnU9ghap***********************gNYeq3DM6Gqm0qPsruYlvNwgmRGW7ZXV5Fs49kue3vOnJNFzaTBYxJnQ177fd0eH********************* not defined

It seems that the configuration is ok :

spotcast:
  sp_dc: !secret AQCnU1anJxnU9ghap*************************gNYeq3DM6Gqm0qPsru

[2021-12-02 15:41] hmmbob commented on #268
Yeah, you're doing this wrong.

In the configuration.yaml, you need to define the 'name' of the secret to use, and the actual secret belongs in secrets.yaml. Example with the data provided:

[code]

[2021-12-02 21:00] Vince3009 commented on #268
First of all, thanks a lot for the job done and the quick answer.

I'm beginning with HA and trying to get the maximum of it but to be honest it starting to be hard for my level but I don't want to give up!

I could do everything properly in sercret.yaml and configuration.yaml (I guess), I could enable the debug logs, I reboot Home Assistant, and went to Configuration >> Logs >> Load Full Home Ass

[2021-12-02 21:23] hmmbob commented on #268
I'm not sure if that is still accurate, but I actually don't use it. Just pass a `media_player` entity to your automation and it should work. Actual example from one of my scripts:

[code]

[2021-12-04 09:15] Bluhme1 opened #269 "Cannot load on beta 2021.12.0b.0"
After upgrading to the new beta the Spotcast cannot load.

The release notes say that Spotipy has been upgraded to 2.19.0

[2021-12-04 09:25] hmmbob commented on #269
What's in your logs?

[2021-12-04 10:13] hmmbob commented on #269
Seeing this too. Logs:

[code]

[2021-12-04 10:15] hmmbob commented on #269
Probably caused by https://github.com/home-assistant/core/pull/60205

[2021-12-04 13:53] freekeys opened #270 "Cookie process"
Hello, my cookies have just expired after 12 months and I’m struggling to get new ones. I’m following the process as per the docs (which I think is the same as a year ago) in Chrome developer tools but there is no sp_key and sp_dc cookie coming up. Anyone know if this process has changed? Thanks!

[2021-12-04 17:12] Bluhme1 commented on #269
Should we raise an issue in the Core?
Can you do that posting the log @hmmbob ?

[2021-12-04 18:56] hmmbob commented on #270
I tried this just moments ago, and instructions are fine - cookies are in the exact space they are supposed to be.

[2021-12-04 22:18] freekeys commented on #270
Thanks - just tried the non-incognito way and it’s worked for me!

On Sat, 4 Dec 2021 at 18:57, Hmmbob ***@***.***> wrote:

[2021-12-05 08:53] hmmbob commented on #269
It needs to be changed in Spotcast, as per maintainer of `pychromecast`

[2021-12-05 09:23] Bluhme1 commented on #269
Ok. Thank you. We will have to wait for Fondberg & Co, then

[2021-12-05 09:51] hmmbob commented on #269
It might be a fairly easy fix, I think I fixed it locally. Willing to try?

in file `spotcast_controller.py`, change line 71 by adding an additional `.cast_info` so it reads:
[code]

Restart HA and see if it is fixed

[2021-12-05 10:37] Bluhme1 commented on #269
Didn't work for me. Same error in log

[2021-12-05 11:13] Bluhme1 commented on #269
When I com to think of it my error log is maybe different from yours

Logger: homeassistant.components.websocket_api.http.connection
Source: custom_components/spotcast/__init__.py:128
Integration: Home Assistant WebSocket API (documentation, issues)
First occurred: 11.36.19 (515 occurrences)
Last logged: 12.10.54

[140631677502464] Error handling message: Unknown error
[140631677476768] Error hand

[2021-12-05 11:16] hmmbob commented on #269
Ah, the error is different, but the fix is in the PR too.

In your case the sensor failed, in my case starting a stream failed. Both are fixed in #271

[2021-12-05 12:28] Bluhme1 commented on #269
You're the man. Everything works again, so your PR is ready for merging. Thank you very much

[2021-12-09 15:48] FrancoLoco commented on #269
Mine loads but when I want to start casting in my automation it does this even with the patch: ChromecastInfo' object has no attribute 'cast_type'

[2021-12-09 15:52] FrancoLoco commented on #269
Wait I might have applied the patch incorrectly

[2021-12-09 16:24] Bluhme1 commented on #269
Will your PR be merged soon as an update to the custom component from Fondberg?

[2021-12-09 16:36] FrancoLoco commented on #269
I managed to patch correctly and it does work thanks

[2021-12-10 13:54] dedors commented on #264
Hi, I know it's closed, but I'm facing the same or similar problem when trying to play on a alexa echo dot.
The source list only shows my desktop, and starting playback on the echo fails (which also has a UUID style ID).
When I click the "connect to a device" icon on the desktop spotify app, the echo devices are first grayed out, but are available within a second. Without clicking on a device, the

[2021-12-12 01:25] amitkeret opened #273 "device_state_attributes deprecated implementation"
**Describe the bug**
During bootup, the following deprecated configuration generates this warning:
[code]

* [x] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x] Using latest stable version of Home Assistant
* [x] I have Spotify Premium
* [ ] I'm attaching relevant logs with level debug for component spotcast (se

[2021-12-12 06:24] Electronlibre2012 opened #274 "No more Devices and playlist after upgrade HA to core-2021.12.0"
**Describe the bug**
A clear and concise description of what the bug is.

* [ x]  Using latest version of spotcast
* [ x ] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [ x ] Using latest stable version of Home Assistant
* [ ] I have Spotify Premium
* [ x ] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ ] I'm using

[2021-12-12 06:56] hmmbob commented on #273
Fix already in https://github.com/fondberg/spotcast/pull/271, waiting to get merged and released

[2021-12-12 06:57] hmmbob commented on #274
Fix probably in https://github.com/fondberg/spotcast/pull/271, waiting to get merged and released

[2021-12-12 07:05] Electronlibre2012 commented on #274
thanks @hmmbob for your fast reply!

i thought it was already release with 2021.12.0...misanderstanding sorry...i wait no problem...

have a good day

[2021-12-12 07:16] hmmbob commented on #274
It's rather easy to apply those fixes yourself locally, if you'd like.

[2021-12-12 08:20] LooneyN commented on #274
Please tell us how. I love spotcast and use it extremly often. Can't wait for an official update :D

[2021-12-12 12:31] giugit opened #275 "AFTER UPGRADE core_2021.11.5 Problems with Spotcast"
Logger: homeassistant.helpers.entity
Source: custom_components/spotcast/sensor.py:56
Integration: Spotcast (documentation, issues)
First occurred: 11:45:13 (101 occurrences)
Last logged: 13:25:14

Update for sensor.chromecast_devices fails
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 487, in async_update_ha_state
    await self.async_devi

[2021-12-12 21:16] #269 closed

[2021-12-12 21:16] #273 closed

[2021-12-12 21:16] #274 closed

[2021-12-13 12:32] Darkfull-Dante commented on #275
Hi @giugit, can you confirm if problem persist after v3.6.22

[2021-12-13 12:33] #270 closed

[2021-12-13 12:34] Darkfull-Dante commented on #267
Hi @Mothamoz, can you confirm if bug persist after update to v3.6.22?

[2021-12-13 12:43] Mothamoz commented on #267
@Darkfull-Dante just tested, exact same issue unfortunately

[2021-12-13 12:43] Mothamoz commented on #267
If you need more information from me let me know

[2021-12-13 12:56] Darkfull-Dante commented on #267
@Mothamoz, is your HA instance updated also?

[2021-12-13 12:57] hmmbob commented on #275
This should have been fixed with 3.6.22 indeed

[2021-12-13 12:58] hmmbob commented on #268
@Vince3009 Is this fixed? Can the issue be closed?

[2021-12-13 13:34] giugit commented on #275
Problem Solved!

[2021-12-13 14:03] hmmbob commented on #267
Can you enable debug logging for Spotcast and try again?

https://github.com/fondberg/spotcast#enabling-debug-log

[2021-12-13 14:43] Mothamoz commented on #267
Below is the result when I try to run it. Especially the last line seems weird as it works fine with Random Song/Offset turned off. Hope this helps.

2021-12-13 15:38:30 DEBUG (SyncWorker_3) [custom_components.spotcast.spotcast_controller] setting up with  account default
2021-12-13 15:38:30 DEBUG (SyncWorker_3) [custom_components.spotcast.spotcast_controller] expires: 1639409610 time: 1639406310.

[2021-12-13 19:03] #275 closed

[2021-12-16 11:00] cdk222 commented on #266
Hi - This is not a Spotcast issue.

The issue you are having is due to the Device ID and Name assignment in Spotify itself.
If you go to the below Spotify Developers link, get a token and then select 'Try It' you will see all the devices currently connected in your Spotify account. This is what is reported through to Spotcast/HA. You will see some Alexa with their text name while others are the 40

[2021-12-16 12:04] Darkfull-Dante commented on #266
wow thank you @cdk222, with my lack of alexa devices I couldn't debug it easily. I'll keep a not of it and check if its possible to work a change somewhere in the change, but with the way spotcast is implemented I doubt we can do something without a change upstream

[2021-12-16 12:04] #266 closed

[2021-12-16 13:19] Darkfull-Dante commented on #267
@Mothamoz I have finally been able to find the problem. Its the URI you are using `spotify:playlist:5rAhD02CGReFtSbinTHxkn?si=968337997b194202`

the ?si= is an added parameter that seems to be purely EU based. Spotipy (which is the dependency we use to get track information) doesn't seem to play well with it.

The keys are all wrong when keeping the ?si=...

| test              | result |
| ------

[2021-12-16 13:58] Mothamoz commented on #267
@Darkfull-Dante thank you so much for the update, I've removed the parameter from the URI as a temp fix like you suggested and that did the trick!

Glad you managed to figure it out and sorry I caused you the headache in the first place 😄

[2021-12-16 15:43] Darkfull-Dante commented on #267
@Mothamoz don't worry I wouldn't participate in an open source project if I didn't enjoy trying to figure these things. While composing the issue for spotipy, I seem to have figured out something. I tested on my dev env and in the first dictionary I printed, we have a key which is `tracks`. The value inside that is the actual dictionary we are looking for.

I think I have a way of resolving the is

[2021-12-16 16:37] Darkfull-Dante commented on #267
[spotipy/#758](https://github.com/plamere/spotipy/pull/758) has been open to correct this issue

[2021-12-17 01:42] Darkfull-Dante commented on #267
@Mothamoz v3.6.23 is available and should resolve the problem while waiting on Spotipy to accept my PR. Would you be able to confirm it is working on your end even with the get query (the ?si=[...])

[2021-12-17 01:53] Darkfull-Dante commented on #267
Hi @Mothamoz,

Just to fully document this situation, can you confirm how you came about that URI? Did you got it preformatted from the app or was it built from the URL (taking the link and replacing `/` with `:`)?

[2021-12-17 10:33] Mothamoz commented on #267
@Darkfull-Dante I got it the way you've described it :)

In regards to it working with the new update, I can't confirm... getting a different error;

Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/spotipy/client.py", line 245, in _internal_call
    response.raise_for_status()
  File "/usr/local/lib/python3.9/sit

[2021-12-17 13:36] Darkfull-Dante commented on #267
That is very strange, It works on my side. Can you provide a new debug log with the error, it might help to find what is breaking

[2021-12-17 15:40] Darkfull-Dante commented on #267
@Mothamoz, can you confirm the exact URI you used to make the test, because the debug shows:

[code]

What I find strange is that your URI is now just `5rAhD02CGReFtSbinTHxkn`. It seems to be missing the app and type call. A Spotify URI should always be `Spotify:<type>:<unique id>`.

[2021-12-17 15:46] Mothamoz commented on #267
@Darkfull-Dante errrr... I botched the copy/paste job.

Okay so, on the latest spotcast/home assistant core version spotcast works fine without the '?si=' extension, but with the extension the following error comes up:

*grabbing logs, will edit in a minute*

[2021-12-17 15:50] Mothamoz commented on #267
@Darkfull-Dante no logs to show... it works 👯

[2021-12-17 15:53] Darkfull-Dante commented on #267
ok we seem to have found the problem. Also I had some chat with the spotipy team and they seem to be more incline that the dev of the app should manage the user input, not their api.

In the light of that, I'll close the issue, but I'll work on a more robust management of the URI that will do more validation.

[2021-12-17 15:53] #267 closed

[2021-12-19 14:30] putz612 opened #278 "Unable to start SpotCast - No module named 'spotify_token'"
I am unable to get spotcast to startup, looking in the home assistant logs the only thing I am seeing is this below

2021-12-19 14:15:35 ERROR (MainThread) [homeassistant.config] Package spotify setup failed. Integration spotcast No module named 'spotify_token' (See /config/packages/spotify.yaml:0).

The Spotify integration seems to be working just fine, I am able to control Spotify using Home Ass

[2021-12-19 14:33] hmmbob commented on #278
You'll need two spaces in front of `sp_dc`, `sp_key`

[2021-12-19 14:54] XalaTheShepard opened #279 "Spotcast does not longer work with Google Cast"
**Describe the bug**
After the update to HA Core 2021.12.2 I noticed that when I use Spotcast my Google Cast devices are misbehaving (no title and cover, no possibility to play/ pause, no possibility to stop the media player. The latest Spotcast update solved this issue, but it reappeared after the update to HA Core 2021.12.3
After this HA Core issue I have reinstalled the latest Spotcast version

[2021-12-19 14:56] hmmbob commented on #279
I'm confused.

Is it or isn't it working at this time?

[2021-12-19 15:57] XalaTheShepard commented on #279
I know it is confusing.
After HA Core 2021.12.2 it only works of you manually reinstall the latest version of Spotcast after the update.
If you perform an update of HA core Spotcast no longer works with Google Cast unless you manually reinstall the latest version of Spotcast afterwards and reboot.
I think this is an issue that should be looked into by both teams, because if this issue persists the

[2021-12-19 16:03] Darkfull-Dante commented on #279
Can you provide a more concise description of the bug you're facing? Please note also that Spotcast only deals with starting the playback, nothing else, we are not responsible for managing the media control after, that is managed by the Spotify integration managed by Home Assistant directly.

Can you please provide a sample of the media request sent through Spotcast, there might be something we ca

[2021-12-19 16:18] hmmbob commented on #279
I was still running 2021.12.2 and just upgraded to 2021.12.3 - did not see the same issue.

Would be interested to see the info requested by Felix above.

[2021-12-19 16:24] Darkfull-Dante commented on #278
@putz612 can you provid a debug log of spotcast, we might see what's breaking when home assistant tries to setup the component.

I would also make sure that your configuration respect yaml indentation. It is crucial, yaml can't work without a 2 whitespace indent all the time. It should look like this:

[code]

Also, your secret file should lokk like (obvious false data for obvious reasons)
[code]

[2021-12-19 17:01] XalaTheShepard commented on #279
To replicate the issue, I will have to downgrade my HA Core again and update it again. Spotcast was able to start, but incorrect media data and sometimes no media data at all is provided. Also pausing the media or shutting down the media player was no longer possible. Every time I try to pause or shut it down, I received the message that the process was failed. It seemed like the media player was

[2021-12-19 17:19] hmmbob commented on #279
As explained before, Spotcast doesn't handle all of that.

What card are you using to control Spotify?

[2021-12-19 17:22] XalaTheShepard commented on #279
I have the Spotify card on my dashboard, but mostly use the Spotcast start service in combination with an Aqara cube

[2021-12-19 17:23] XalaTheShepard commented on #279
Both cause the same issue

[2021-12-19 17:38] hmmbob commented on #279
We'll need debug logs when this happens to be able to properly debug.

[2021-12-19 18:28] Darkfull-Dante commented on #279
@XalaTheShepard, can you provide a sample of the spotcast.start service that you use. As state by hmmbob and me, we both had done the update to 2021.12.3 without Spotcast breaking. Also a sample of the configuration itself would be useful (obviously obfuscate the different tokens)

Also, the Aqara cube itself is irrelevant to the issue, it is just an input device, the service call behind is what i

[2021-12-19 18:35] Darkfull-Dante commented on #279
If you are unable to provide the information for the moment, we will have to wait for the next home assistant update that should be in January now.

When the next HA update is out, would you be able to test again if the problem persists and get back to us. We will probably ask for information while your server experience the error.

[2021-12-19 20:14] Darkfull-Dante commented on #268
Due to the lack of response on this issue I will close it for inactivity. If the issue persists, please update and mention me in the comment

[2021-12-19 20:14] #268 closed

[2021-12-19 20:28] Darkfull-Dante commented on #233
@rako77, @gmcmicken

I was thinking about this request and i think a good place to start would be the xbox integration. It does have a media source browser [xbox integration dir](https://github.com/home-assistant/core/tree/dev/homeassistant/components/xbox).

Home assistant does have a library in media_player that can be accessed with
[code]

I'll start exploreing the possibilities. I think we mus

[2021-12-19 20:32] putz612 commented on #278
Sorry the indents didn't copy and paste across, there are spaces in front, see below.  It does pass the config check internal tester.  I have followed the guides in the readme to enable the debug logs and that is all I see in the logs.  I will bump up the home assistant logs to debug and see if there is anything coming from HA itself.

spotcast:
  sp_dc: !secret sp_dc
  sp_key: !secret sp_key

spo

[2021-12-20 02:18] Darkfull-Dante commented on #278
@putz612, can you show me what the logger part of your configuration file looks like?

[2021-12-20 09:44] fabiopedrosa commented on #279
I just started seeing the same issue:

[code]

[2021-12-20 09:48] hmmbob commented on #279
It's not the same issue, you ran into a (temporarily) Spotify disruption. Should auto-resolve.

[code]

[2021-12-20 10:13] hmmbob commented on #279
No worries, good to check anyways!

[2021-12-20 12:57] putz612 commented on #278
Absolutely, here is my logger.yaml file, now with indents! Code blocks help
[code]
Cranking up tp debug for the default logger didn't give me any more details, here is the surronding messages.
[code]
Weird thing is when I look out on the filesystem I do see there is a  deps/lib/python3.9/site-packages/spotify_token.py  and accompanying folders.

[2021-12-20 13:06] hmmbob commented on #278
🤔 Weird.

What platform are you running HA on? Anything exotic?

[2021-12-20 14:13] Darkfull-Dante commented on #278
The issue is really strange. Normally, without even a debug log, you should have (the following lines, not back-to-back and fairly sparsed depending on your setup):

[code]

With the debug log, you should at least have this line:
[code]

What I find interesting is the line

[code]

There seems to be a yaml file that the configuration is trying to ready, but fails to. Can you verify in your file sy

[2021-12-20 14:29] hmmbob commented on #279
Thinking out loud as well: it could also be some kind of caching issue in the frontend media_player card, possibly.

It's a strange issue Robin, that's for sure! Did you ever try what happens if you reboot HA without reinstalling spotcast?

[2021-12-20 14:55] XalaTheShepard commented on #279
I have tried rebooting HA without reinstalling the Spotcast integration, but in this case the issue persists.

[2021-12-20 15:14] Darkfull-Dante commented on #279
ok, so the problem seems to be in your reboot process not in the update process. Can you check your log journal (complete view) and do a search (`ctrl+f` in most browser) for Spotify and return the lines that match the search.

You should have something that looks like:
[code]

[2021-12-20 15:37] XalaTheShepard commented on #279
Dear,

Many thanks for your support.
I have copied all the lines with regard to Spotify from the complete log below.
Please note that I am still in the situation that everything works as it should due to a reinstall of Spotcast.
If no issues are found in this log, I will downgrade the HA Core tomorrow to simulate the issue (today is impossible due to some appointments) and I will copy the logs whe

[2021-12-20 15:46] fcusson opened #280 "Add playlist random selection from category"
@maxenced, I open this issue to continue discussion on the ongoing development of the random selection from category functionnality

**List of function to add the country tag**
- [x] album_tracks (spotipy)
- [x] category_playlists (spotipy)
- [x] get_playlist (self, currently hard-coded)
- [x] search (spotipy)
- [x] show_episodes (spotipy)

[2021-12-20 15:55] Darkfull-Dante commented on #280
One element I would like to see changed is that we need to do more input validation.

I've been working on my side on validating the country and category provided by the user. I haven't tested it yet, but I came up with this:
[code]

The country validation should work without problem, but I am looking for a more robust way of validating the category existence. I know I shouldn't use the provided l

[2021-12-20 18:58] maxenced commented on #280
Hey @Darkfull-Dante , I didn't expect such involvement in my issue, what a good surprise :)
I can't see any better way to validate category than what you're doing

[2021-12-20 21:10] Darkfull-Dante commented on #280
@maxenced I just made a push, I found a way to validate more cleanly the category. Spotify API still limit the client.categories to 50 entries so we'll have to limit ourself to that. In testing, if we find that it is limiting, we could do a warning log only and not bother with validating the category, but that could cause tracebacks which I would really like to avoid as much as possible.

[2021-12-20 21:23] Darkfull-Dante commented on #280
I had to do a PR to think of a much better way to handle the validation. I replaced the method with a try catch instead. Does a much cleaner job and doesn't rely on a limited subset of categories

[2021-12-21 09:57] XalaTheShepard commented on #279
Dear all,

May I request to put this issue on hold for a few days?
Today a new version of HA Core (2021.12.4) has been released.
It contained an update of Pychromecast.
At this moment it looks like this update solved the issue, but I will follow it up for a few days to see if the issue still occurs.

Many thanks for your support.

Kind regards,

Robin

[2021-12-21 11:02] hmmbob commented on #279
It's probably not the `pychromecast` bump, but the revert of using the Home Assistant Media Player app usage

https://github.com/home-assistant/core/pull/62385

[2021-12-21 14:37] Stooovie opened #283 "How do I call an album?"
Hi, sorry if this is not the correct place to ask but I don't see any other support site.

How do I call a specific album instead of a playlist? I use the Mini Media Card which uses Spotcast data model. When I define a playlist with like `id: spotify:user:<me>:playlist:136hsDqjTbnGG4M8qOHREF`
it works but it doesn't call albums. I tried `id: spotify:user:<me>:album:21jF5jlMtzo94wbxmJ18aa`
(Adele's

[2021-12-21 15:08] hmmbob commented on #283
`spotify:album:21jF5jlMtzo94wbxmJ18aa` should work

[2021-12-21 15:12] hmmbob commented on #278
Could you try upgrading to 2021.12.4 and see if that perhaps magically solves the issue?

Chances are slim, but worth a try.

[2021-12-21 16:34] Stooovie commented on #283
Ah, it works. Maybe it would be worth it to add this to the documentation, it's not exactly self-evident. Thank you!

[2021-12-21 23:00] Darkfull-Dante commented on #283
Regarding the context of this issue, we are working on a validation method for the uri provided. We could add information to the documentation, but I wouldn't go further than providing a link to Spotify's documentation.

If you are not sure about the structure of a URI, I would suggest that you simply copy it from the pc app or browser player by holding `ctrl` while doing in the menu of the releva

[2021-12-21 23:10] Darkfull-Dante commented on #283
To further document the second issue, I just did the following tests:

# yaml request:
[code]

| Test | Run count | Result | Passed |
|---|:-:|---|:-:|
| Attempt to play an album | 3 | Random start song, shuffle is on | X |
| Attempt to play a private playlist | 3 | Random start song, shuffle is on | X |
| Attempt to play a public playlist | 3 | Random start song, shuffle is on | X |

[2021-12-22 09:30] Stooovie commented on #283
I'm not even able to start music playback through the Services menu.
This:
`service: spotcast.start
data:
  entity_id: media_player.echo_show
  uri: https://open.spotify.com/album/3f22Ap0VSZYWsqrGcphUnY?si=e56a14ce4686411e
  random_song: true
  shuffle: true`
returns this:
`2021-12-22 10:22:45 ERROR (MainThread) [homeassistant.helpers.script.websocket_api_script] websocket_api script: Error execut

[2021-12-22 09:33] Stooovie commented on #283
I'm ultimately trying to have the HA [Mini Media Player card](https://github.com/kalkih/mini-media-player) with a couple of buttons for direct playback of playlists and albums. That works. What doesn't work is seemingly any way of having random playback (shuffle).

This is the entire lovelace card config:
`entity: media_player.spotify_jiri_fiala
type: custom:mini-media-player
source: icon
hide:

[2021-12-22 14:38] Darkfull-Dante commented on #283
@Stooovie, please use the recommanded way we provided to get URI. In your first post,you provid a URL, not a URI

This will not work, you must provide a URI. In the above case `spotify:album:3f22Ap0VSZYWsqrGcphUnY` would be valid

In the second post, you still use `spotify:user:stooovie:playlist:136hsDqjTbnGG4M8qOHREF` which we explain is not a valid URI for Spotcast, you must provid a sharable UR

[2021-12-22 14:56] Darkfull-Dante commented on #283
@Stooovie Additional information, you are not using Mini Media Player card correctly. Their documentation states that `type: playlist` calls the Spotify integration, not Spotcast. Please read their [documentation](https://github.com/kalkih/mini-media-player#card-with-media-shortcuts). They do explain that:

If you are not sure in the correct syntax to call our service from the card, you should ope

[2021-12-22 15:21] Stooovie commented on #283
@Darkfull-Dante thank you. The text from the documentation you mention is super unclear and confusing. What I take from it is the card does indeed use Spotcast.

Is Amazon Echo Dot (3rd Gen) not a Spotify Connect device? Your example of

`service: spotcast.start
data:
  entity_id: media_player.bedroom_echo_dot
  random_song: true
  uri: spotify:album:3f22Ap0VSZYWsqrGcphUnY
  shuffle: true`

return

[2021-12-22 17:21] Darkfull-Dante commented on #283
the error you receive isn't even from spotcast, Home Assistant isn't even aware of the device you are trying to call.

There is a lot of confusion on your part about the different elements at play. I will close the issue, but if you want to revisit this sometime, we could.

[2021-12-22 17:21] #283 closed

[2021-12-22 17:22] Darkfull-Dante commented on #279
Due to lack of repeatability and that the issue seems to have resolved itself for the time being I will close the issue, please comment mentioning me if it surfaces again

[2021-12-22 17:22] #279 closed

[2021-12-22 19:13] Stooovie commented on #283
that's the issue. This is from the HA log when trying to call the Spotcast service. The `media_player.bedroom_echo_dot` is correct, I use it every day for two years in a lot of different automations. I may be confused with the plethora of elements in this workflow and I've admitted earlier to be, but in this very instance, I'm not.

But as I said, it's an issue with Shuffle/Repeat/DND entities tha

[2021-12-25 20:22] cerebrate commented on #278
I have this same issue and have had for the last several versions (all the 2012.12.x releases). No number of HA restarts or component reinstalls have solved the issue.

As above, I have a `/deps/lib/python3.9/site-packages/spotify_token.py`, which does contain the appropriate python code, so the module does appear to be installed. I can confirm that it's the correct module, because a quick hack-te

[2021-12-26 23:41] Darkfull-Dante commented on #278
@cerebrate, that looks to me like a permission problem. Might be wrong, but would be useful to check out. Could you send me the content of the spotify_token.py file and also its permission set? If you need guidance, I'll be glad to help.

[2021-12-27 05:34] cerebrate commented on #278
@Darkfull-Dante Sure. Here's the content:

[code]

and the permissions are as follows:

[code]

(In case it's relevant, the Home Assistant config volume is an NFS mount, with the recorder database stored elsewhere.)

[2021-12-27 13:03] Darkfull-Dante commented on #278
Ok there might be a problem, I see that the file is owned by swarn:users and that the file has no read permissions for others.

Could you try adding read permissions to the file and see if it resolves the issue?

[2021-12-27 13:32] Darkfull-Dante commented on #278
Ok there might be a problem, I see that the file is owned by swarn:users and that the file has no read permissions for others.

Could you try adding read permissions to the file and see if it resolves the issue?

[2021-12-28 22:20] putz612 commented on #278
Sorry I have not had time to update this one, just like @cerebrate I am running on kubernetes using the k8s-at-home helm chart.  To answer @hmmbob upgrading to 2021.12.4 or 2021.12.5 did not change the behavior.  For me here is the contents of spotify_token.py
[code]
And the file permissions
[code]

[2021-12-29 16:09] Darkfull-Dante commented on #278
At least we have a common point. The problem seems to be caused by the installation type (Kubernetes). @cerebrate @putz612, I have a few questions that might help us go through the problem:

- the permission information that you shown me, was it from the bare metal server or the kubernete pods directly? If it wasn't from inside the pod, can you verify the information from inside the pod?
- Which u

[2021-12-29 16:26] cerebrate commented on #278
@Darkfull-Dante Mine was from my management box accessing the same NFS share. From inside the pod, the permissions show as:

[code]

(These are the same permissions: outside the pod, the uid of _swarm_ is 1004.)

Inside the pod, `whoami` returns `root` and `groups` returns:

[code]

and the `spotify_token.py` file appears to be readable/writable without other errors.

The pod itself is running wit

[2021-12-29 17:08] Darkfull-Dante commented on #278
ok perfect thank you for the information. I'll investigate the Kubernetes build and see if something in the current Spotcast setup might interfere with access to the deps folder. If all fails, I might look into scrapping the dependency and build an equivalent method for our use case.

[2021-12-29 20:24] putz612 commented on #278
Here is my info for completeness, all commands were run from within the pod

[code]

[2022-01-03 21:51] flouck opened #284 "Could not get spotify token"
**Describe the bug**
Impossible to get it work. Please see my log.
[code]
And :

[code]

**Environment (please complete the following information):**
 - Installation type: [ Home Assistant OS 7.1 ]
 - HA version: [ core-2021.12.7 ]
 - spotcast version: [ v3.6.23 ]

**Configuration**
[code]

And in the automation:
[code]

**Additional context**
It was working quite some time before. Don't know what

[2022-01-04 06:34] hmmbob commented on #284
Did you try obtaining/ changing the sp_dc and sp_key again?

[2022-01-05 09:50] maxenced commented on #280
Hello there !
What's the next step to get this into master / released ?

[2022-01-05 10:04] flouck commented on #284
Indeed you are right, it now works. But I don't get why it changed..

[2022-01-05 10:04] #284 closed

[2022-01-05 10:20] hmmbob commented on #284
They might expire or you logged out from a session with the same cookie 🤷🏻

Luckily it's an easy fix 😉

[2022-01-05 17:39] Darkfull-Dante commented on #280
I am currently blocked at adding the country functionality to the sensor. I have a semi working code on my own repo. I will try to push it in the project branch soon so we could test it (appart from the sensor)

[2022-01-08 23:24] juliusmarminge opened #285 "Cast to Sonos Devices"
**Describe the bug**
A clear and concise description of what the bug is.

* [x] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant (and its working with most Spotify Connect devices)
* [x] Using latest stable version of Home Assistant
* [x] I have Spotify Premium

I am not able to cast to my Sonos devices, despite them being listed as Spotify Connect devi

[2022-01-09 17:27] mike3190 opened #286 "Spotify connect device with 2 accounts not working for 1 account"
Hi all,

I have 2 accounts working with core spotify and spotcast, in my dashboard I have 2 cards for both accounts where I can select the playlist to start. However it seems only 1 account can choose a spotify connect device at any time.

I tested this with the smartphone app by playing a song and select the spotify connect device. The latest account connected via this way would be the one that c

[2022-01-10 01:23] Darkfull-Dante commented on #286
Hi @mike3190, it should be working without problem. Could you provide a copy of your current config file?

A two account setup should look something like this:

[code]

[2022-01-10 01:28] Darkfull-Dante commented on #285
I don't have Sonos device myself, but could you please provide the service call you made. I might be able to see the problem from there.

Sonos have there own API which complicates things for the official Spotify integration (much like Google have, the reason Spotcast was made in the first place).

Also, can you confirm that the sonos speaker itself is integrated into Home Assistant? It is require

[2022-01-10 01:31] Darkfull-Dante commented on #280
@maxenced, I might have finally found a way to get the country code in the sensor, it was the missing part of the puzzle. I'm finalizing testing and I'll push another PR tomorrow.

Does your setup let you clone a repo in your homeassistant environnement? If so, it could be a good thing you test the functionnality to make sure it lives up to your original PR.

[2022-01-10 20:12] Darkfull-Dante commented on #286
@mike3190

uhm... that's a strange behavior. I can confirm I have it working on my side with two accounts. Device can be found without problem. First and foremost, can you confirm that playback is possible when calling spotcast.start for the two accounts?

Try if possible with restricted content like a private playlist for both. That way we can be sure the call is made to the right account each ti

[2022-01-10 20:47] juliusmarminge commented on #285
Im out of the house for a few days so I cant share you the exact details, but I got it working on my other chromecast devices. When entering my sonos speaker by entity_id ”media_player.sonos_move” or device name ”Sonos Move” i get a notification that the device could not be found.

i tried finding the spotify id with the logger but couldnt find no logs for getting the spotify devices.

[2022-01-10 21:09] hmmbob commented on #286
There are actually "three" accounts being setup now, two of them being Roos' account. Try this?

[code]

Dunno if it fixes stuff, but worth a try

[2022-01-10 21:21] Darkfull-Dante commented on #286
@hmmbob, it shouldn't cause problem, you are right that 3 accounts are created from a user point of view, but in reality, its 3 pointers with two of them pointing to the same credential set.

I'm currently using the same setup as @mike3190, so it should be working. Also, the account that has problem in his case is `mike` which is the one with only one setup. This setup gives the option to always h

[2022-01-10 21:24] Darkfull-Dante commented on #285
I just looked in the old issues from before I started to collaborate in the project and found #167. It seems that sonos API isn't friendly with Chromecast. I'm not going to close yet, since the issue is quite old, and the project has had multiple refactoring since and it might not be an up-to-date answer anymore.

[2022-01-10 21:40] mike3190 commented on #286
@Darkfull-Dante

The other accounts are gray because there would be no device to start playback, as I have hidden the chromecast devices, and only show Spotify connect devices. And since it's only working for one account at any time the other account is grey.

As for starting spotcast.start in a script works for the account which was last connected to the spotify connect device. For the other acco

[2022-01-10 21:47] Darkfull-Dante commented on #286
@mike3190, there seems to be a problem in the auth itself. Did you add the secondary account to your Spotify dev app? It might explain why we can't receive details from the api calls for this user.

[2022-01-10 21:52] mike3190 commented on #286
@Darkfull-Dante

I dont think I did, I'll check right away.

[2022-01-10 22:52] Darkfull-Dante commented on #286
ok perfect, let me know if everything works fine in the end. I think we might have found the problem

[2022-01-11 20:10] fcusson commented on #285
@juliusmarminge. After further review, Sonos uses a layer incompatible with Spotify API. The way Spotcast is currently programmed, we can either talk to a Chromecast device or a Spotify connect device (by Spotify connect I mean a software that uses the official Spotify connect api). Since Sonos uses a different API, we don't have (currently) the ability to talk to Sonos devices in the current stat

[2022-01-11 20:10] #285 closed

[2022-01-11 20:57] truhponen opened #288 "Additional instructions to find Spotify device ID"
Section "Find Spotify Device ID" in README.md (https://github.com/fondberg/spotcast#find-spotify-device-id) could describe alternative method to get device IDs.

Additional method that I used:
If user has Spotify developer account, they can get their device IDs with developer console's "Get Available Devices" API-test (https://developer.spotify.com/console/get-users-available-devices/)

[2022-01-11 21:03] mike3190 commented on #286
Well, it didnt work. Now with everything removed I saw that the stock mediaplayer card is showing the same behavior, where only one account can use the spotify connect device, depending on which account was last connected to it.

So its not only with Spotcast, but also the spotofy integration, which leaves me to check the dev portal again .. allthough im almost certain I did it right.

Any thought

[2022-01-12 10:32] pkamp commented on #285
This integration works fine with Sonos devices, when you find out their `spotify_device_id`.
Since the Spotify api does not help you in that regard, I managed to find the id via the Spotify Web Player.
Try these steps
* Open the [Spotify Web Player](https://open.spotify.com/) and sign in if needed
Make sure you see your Sonos devices in the `Connect` popup
* Open your browser's DevTools (F12 for C

[2022-01-12 14:27] juliusmarminge commented on #285
Thanks a lot! Will test this tonight!!

Hämta Outlook för iOS<https://aka.ms/o0ukef>
________________________________
Från: Philip Kamphausen ***@***.***>
Skickat: Wednesday, January 12, 2022 11:32:22 AM
Till: fondberg/spotcast ***@***.***>
Kopia: Julius Marminge ***@***.***>; Mention ***@***.***>
Ämne: Re: [fondberg/spotcast] Cast to Sonos Devices (Issue #285)

This integration works fine with So

[2022-01-13 00:52] fcusson commented on #288
@truhponen if you want you can submit a PR explaining the process in the documentation. Otherwise, I'll check to add it in the future

[2022-01-13 00:58] fcusson commented on #286
Check the logs for any errors in regarding to the Spotify Integration. Just to be certain, does your Spotify config have both accounts? Since Spotify is setup from the webui, you should see both accounts name in the integration tab
![Spotify integration](https://imgur.com/velX2sD.png)

[2022-01-13 01:02] fcusson commented on #285
@pkamp thank you for the information. That's great, I was really running in a circle trying to find a solution to get uid. Still not a solution that could be integrated in the project directly but still great.

If you are up for it, you could send a PR with the added information to get the Sonos uid, otherwise, I'll add in the following weeks

[2022-01-17 12:13] #280 closed

[2022-01-17 12:40] maxenced commented on #280
Sorry for the late reply, tested and lgtm, thanks for the work !

[2022-01-18 02:26] #288 closed

[2022-01-18 14:36] fcusson commented on #286
Hi @mike3190, just wanted to check back with you if this was still an open issue for you

[2022-01-18 17:53] mike3190 commented on #286
Hi @fcusson, I do have both accounts linked in the integration tab. I think the problem lays within the core Spotify integration. Because even with everything deleted and re-setup (even spotify dev app), I still can only use one account to play via Spotify Connect. So I will close this issue, as it's not an issue with Spotcast.

Thanks for all the help though, I'll see if I can figure it out with

[2022-01-18 17:53] #286 closed

[2022-01-19 12:36] fcusson commented on #278
@cerebrate , @putz612, After looking into the issue, I have to comme to the conclusion, that the problem reside in the dependency resolvement of the k8s-at-home home assistant implementation. I would suggest you raise the issue with them. This project doesn't have the ability to modify file access in its hosts so any issue of the sort would have to be resolved with the host project.

[2022-01-19 17:20] cerebrate commented on #278
FWIW, I'm not actually using the k8s-at-home chart or any other parts of that implementation; I rolled my own simple YAML:

[code]

[2022-01-21 13:03] fcusson commented on #278
Ok so back to square one.... we need to find why pip is unable to find the reference to spotif_token, but still be able to install the dependency.

[2022-01-28 14:08] emontnemery commented on #233
The official Spotify integration now has media browsing support: https://github.com/home-assistant/core/pull/64921

This is essentially what's needed in the cast media_player to add support there: https://github.com/home-assistant/core/commit/deb196af36e3bba012a5becca764e2ac6bda7252

Would it make sense to allow spotcast to some hooks in the cast media player to enable spotify support there?

[2022-01-28 15:37] soloam opened #292 "Error when installed integration TypeError: 'type' object is not subscriptable"
**Describe the bug**
When I install the component and add i to the config file, I'm not even able to restart the home assisant, get a lot of errors

* [X ] Using latest version of spotcast
* [ X] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [X ] Using latest stable version of Home Assistant
* [X ] I have Spotify Premium
* [ X] I'm attaching relevant l

[2022-01-28 18:05] gmcmicken commented on #233
Like I mentioned, I think you can combine two media players with the universal media player component and possibly do this right out of the box already.

[2022-01-29 10:23] emontnemery commented on #233
Media browsing as well as support for the cast media player entity to play spotify content with help of spotcast is implemented by #294

[2022-01-29 21:10] fcusson commented on #292
Hi @soloam, can you confirm if you have any error logs linked to Spotcast other than the traceback. If no, could you add the logger for Spotcast ([How to](https://github.com/fondberg/spotcast#enabling-debug-log))?

[2022-01-29 21:16] soloam commented on #292
I'll check this and get back to you! Tks

[2022-02-01 10:53] soloam commented on #292
I tested out, and I don't have any error from the "custom_components.spotcast". I go to my config, uncomment the spotcast yaml, save. When I go to home assistant and click "Check Config" it loops and starts sending errors

I get this in the UI:
[code]

In the log I see:

[code]

[2022-02-01 12:49] fcusson commented on #292
@soloam .it looks like a problem with the python type hinting, but it shouldn't since you should have Python 3.9 at least for Home Assistant.

I do see that you marked `Core` as your install type. Can you confirm you mean [this install type](https://www.home-assistant.io/installation/linux#install-home-assistant-core)?

If this is the case, can you confirm the python version you run by typing and

[2022-02-01 12:56] soloam commented on #292
That can be it, I have 3.8.2. I will update to 3.9 (I need it to the new release).

[2022-02-01 18:10] quadrophenianl commented on #292
Did you found a solutution without upgrading to 3.9? Till not long ago the earlier versions of Spotcast worked perfect, but now I have the same problems as you. Downgrading also doesn't work anymore.

Do you run on Buster by the way?

[2022-02-01 18:15] quadrophenianl commented on #292
Problems arised when upgrading to 3.6.24. When downgrading to 23, everything worked perfect as always, even on Pyton 3.8.2. Since a day or 2 all versions don't work anymore.

I think a lot of people are in the same boat as me because they can't upgrade without losing files to Bullseye on a RPi. Because it is to much hassle, I decided to stay on Buster.

Is it possible to set back the files on olde

[2022-02-01 18:16] quadrophenianl commented on #292
Did you found a solutution without upgrading to 3.9? Till not long ago the earlier versions of Spotcast worked perfect, but now I have the same problems as you. Downgrading also doesn't work anymore.

Do you run on Buster by the way?

[2022-02-01 18:18] hmmbob commented on #292
Possible solution: run docker on your pi with HA Container installation method.

[2022-02-01 21:07] soloam commented on #292
It was solved when I changed to 3.9! Tks for the help

[2022-02-03 02:33] fcusson commented on #292
@quadrophenianl, the problem is that you could end up with a lot more problem in home assistant if your core install is not able to target the correct python interpreter.

Currently, Home Assistant targets the 2 last major releases of Python. Since 3.10.0 as release, that means that currently (since 2022.1) 3.9.X and 3.10 are targeted. Right now, it's just Spotcast, but you could have a lot more i

[2022-02-03 06:50] quadrophenianl commented on #292
Would be great if you can release a quick fix fot the time being, thanks!

Yes, there is a notification for a while already, that's why I decided to stay on the 2021 releases of HASS. The best solution is to upgrade to BULLSEYE, but that's also not that straightforward if you want to do it on an excisting install. That's why it take some before I can (and maybe others) can do that.

Anyway, thanks

[2022-02-04 18:30] cerebrate commented on #278
Sorry for the delay in getting back to you. I've removed the workaround and been back through my container logs, and I'm not seeing any permission denied errors. Chmod 777 in the container doesn't seem to change anything.

Incidentally, while I'm not sure if this will be of any help, the [O365](https://github.com/RogerSelwyn/O365-HomeAssistant) integration suffers from the same issue, producing:

[2022-02-05 19:12] fcusson commented on #292
@quadrophenianl, would it be possible for you to edit the spotcast_controller.py and simply add the following line at the top:

[code]

it should resolve the problem, the only hiccup is that I don't have a dev env that can test with Python 3.8, the oldest python interpreter I have on my home assistant test machines is 3.9.

If you could do that, that would validate the possible fix and expedite th

[2022-02-06 10:39] quadrophenianl commented on #292
This weekend I found some time to go to 3.9, so I have Spotcast working again. Some other problems showed up, but I think I have Hass stable running for now on Buster. Do you want me to roll back to 3.8 and test if your solution works for others who are not able to upgrade yet?

But anyway thanks for your support, I can imagine it's difficult to approach it on a right way for everyone. Must be fru

[2022-02-06 22:29] weemaba999 opened #296 "Playlist family users is stuck at loading"
**Describe the bug**
A clear and concise description of what the bug is.

* [x] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [x] I am using multiple accounts
* [x] Using latest stable version of Home Assistant
* [x] I have Spotify Premium
* [x] I'm attaching relevant logs with level debug for component spotcast (see README)
* [x] I'm using entity_

[2022-02-07 21:24] fcusson commented on #292
No need, I'll take the time to setup a 3.8 dev env at that point.

[2022-02-07 21:40] jorgeelima commented on #278
Hello all

I can't fin the sp_dc and the sp_key in the browser. Can someone help?

I am looking on chrome://settings/cookies/detail?site=spotify.com but nothing. Did chrome changed this?

[2022-02-07 23:35] fcusson opened #297 "no sp_dc / sp_key in google chrome"
Hello all

I can't fin the sp_dc and the sp_key in the browser. Can someone help?

I am looking on chrome://settings/cookies/detail?site=spotify.com but nothing. Did chrome changed this?

_Originally posted by @jorgeelima in https://github.com/fondberg/spotcast/issues/278#issuecomment-1031957080_

[2022-02-08 05:57] quadrophenianl commented on #292
Great!

Thanks again for your time and effort and good luck with this plugin in the future!

[2022-02-08 12:45] fcusson commented on #297
@jorgeelima, after checking, it does seem google-chrome changed their cookies pages and I can't find the sp_dc and sp_key following the link in our documentation. I'll do some digging to find if a new setting links is required. In the meantime, could you try to follow the firefox documentation and see if you can find the sp_dc and sp_key following these steps?

[2022-02-08 13:19] fcusson commented on #297
after testing, it seems to be it and miss with the link in google chrome settings. Both my machines run 98.0.4758.80, but I can't get the link to work on my laptop and on my desktop, it worked about 3 out of 5 attempts.

I did verify and there is a simpler way than what was originally put in the documentation, you can try and follow [this method](https://cookie-script.com/documentation/how-to-chec

[2022-02-10 12:54] weemaba999 commented on #296
Hi,

It works, solehow my spotify integration had a failed config !

Thanks a lot for your reaction !

Kr,

Bart

[2022-02-11 10:50] bithajcsar opened #298 "Spotify playback does not start after long idle period on a Google Cast device"
I am experiencing a very strange behavior:
My automation containing Spotify playback on a Google Cast device works well always except after long (6-8 hours) idle period. The automation itself is a wake-up flow triggered by a time reached. The playback should start at the specified time. And it works always except in the morning when the only active device is the HA server (RasPi) and all other dev

[2022-02-11 14:10] emontnemery commented on #233
@adrianmihalko You need Home Assistant Core 2022.2, and both spotify and spotcast integrations setup.

[2022-02-11 14:12] fcusson commented on #233
@adrianmihalko , the cast module only permits you to browse media from a specific device. You can check #294 which documents how to access it (you need to open the media browser from the media player directly). We would need to implement a media_source browser, but the spotify integration doesn't seem to permit that for the moment. We are still evaluating the feasibility of that part.

[2022-02-11 14:13] fcusson commented on #296
perfect glad to ear that

[2022-02-11 14:13] #296 closed

[2022-02-11 14:18] fcusson commented on #298
@bithajcsar, The error is raised in Spotipy, not Spotcast, we would need a debug log to verify what is going on and if the problem originates from this project or the dependency. Also, could you provide the automation you are using? We could see what is going on there.

[2022-02-11 14:27] emontnemery commented on #233
@fcusson Oh, now I think I finally understand what you mean, you want it to be possible to browse the Spotify library also directly via the "Media" view in the frontend?

This is already possible, we will populate the root depending on which player is selected 👍
Note that the screenshots below is with latest dev version of Home Assistant + #294.

This is with the default in-browser player selected

[2022-02-11 14:28] #292 closed

[2022-02-11 14:28] #297 closed

[2022-02-11 14:33] fcusson commented on #233
oh wow, thank you @emontnemery I really missed that part completely. So, I'm just waiting for fondberg to provide its review and we'll be able to merge the PR. There will be a 3.6.25 release but that will be a bug fix release to ensure compatibility with python 3.8 for certain users.

[2022-02-11 15:50] adrianmihalko commented on #233
I can confirm, it works great now.

<img width="1027" alt="Screenshot 2022-02-11 at 16 48 45" src="https://user-images.githubusercontent.com/733361/153623156-a6c124db-035f-4ade-a0e4-c0ad966869f2.png">

The only thing I didn't really like in this Media player that seek is not working here (jump on the timeline where I want)?

[2022-02-12 17:26] skank01 commented on #233
Huh how do you do that?
I can only browse my selected spotify media player, and then browse that media.
If i select a cast device, it says de media is empty

What i want to be able to do is: select a mediaplayer; then chose the spotify account and then browse that media... but i cant

Also... the cameras aren there either

[2022-02-12 18:46] fcusson commented on #233
Hi @skank01, to get the casting ability, you would need to manually add a file `cast.py`. This file is currently under review in #294 and should be available as a release soon.

For your other questions:

- selecting a Spotify account is not currently possible, but will be in a near futur when the Spotify integration adds support for in [PR 66256]( https://github.com/home-assistant/core/pull/66256

[2022-02-14 20:40] bithajcsar commented on #298
I was not able to reproduce the issue yet.

[2022-02-16 08:23] odtgit commented on #298
I have a spotcast call within my morning routine in NR that has failed like this two mornings in row with the same 403 error according to the log. Any suggestions what I can do to work around it? I have a separate media_player.set_volume call before so the speaker is up and running.
[code]
[code]

[2022-02-16 08:26] hmmbob commented on #298
Could this be caused by https://github.com/home-assistant/core/issues/66373?

[2022-02-16 08:28] odtgit commented on #298
This only happens in the morning though, throughout the day spocast calls are working flawlessly, My guess something with an orphaned device?

[2022-02-16 16:42] fcusson commented on #298
@odtgit

so the problem is with the device access url. Spotify does understand your request, knows the device exist, but believe you do not have the right to access the device itself.

The HTTP 403 Forbidden response status code indicates that the server understands the request but refuses to authorize it.

Unless Spotify makes bad uses of error codes it shouldn't be a token issue, because a token

[2022-02-16 17:48] odtgit commented on #298
It's a JBL link portable using the google cast protocol. It's always listed in my desktop spotify client as a target but *not* available after a while on the developer console output/API.

Using a spotify_device_id in spotcast.start when it's been off returns a 404 quickly as expected since it's not in the listed players. When using the entity_id like I have above it will start playing after a cou

[2022-02-16 18:11] fcusson commented on #298
ok so very strange, the ID is the same but still its forbidden from Spotify API.

The fact it goes *not available* after a while might be linked to your problem. It is a real device so it doesn't send `404` since the link does exist. It doesn't send `401` because your token is valid. So it probably send `403` since it is unable to communicates with the device.

Since its server is working correctl

[2022-02-16 18:18] odtgit commented on #298
Thanks for the explanation. I think using the entity_id playback is already doing some magic behind the scenes as this flow has been working fine for a long time now with just a media_player.volume_set before spotcast.start but that isn't the case as of this week any longer. I've upgraded to the latest spotcast (3.6.25) and added the turn_on call. I'll report back if it works fine the rest of the

[2022-02-17 03:56] jazzyisj opened #300 "Error if category specified without country"
**Describe the bug**
Call spotcast.start with category but no country specified produces error.

* [X] Using latest version of spotcast
* [X] I have setup the Spotify integration in Home Assistant
* [X] I am using multiple accounts
* [X] Using latest stable version of Home Assistant
* [X] I have Spotify Premium
* [X] I'm attaching relevant logs with level debug for component spotcast (see README)

[2022-02-21 12:46] fcusson commented on #300
A fix is in work for this problem

[2022-02-21 13:00] #233 closed

[2022-02-22 15:13] derwotograf opened #301 "dc and key not defined"
**Configuration check failed**
adding the sp_dc and sp_key to the configuration file makes the configuration check fail.

* [x] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x] Using latest stable version of Home Assistant
* [x] I have Spotify Premium
* [x] I'm attaching relevant logs with level debug for compone

[2022-02-22 15:46] hmmbob commented on #301
And how did you add it? Can you copy-paste it here? (make sure to redact the actual keys)

[2022-02-22 15:48] derwotograf commented on #301
thanks for the reply. how did I add what exactly? HACS integration? installed via HACS.

[2022-02-22 15:50] hmmbob commented on #301
The two keys to the configuration.yaml file - sorry for not wording that better.

[2022-02-22 20:37] derwotograf commented on #301
so sorry, my bad. thanks for the hint though 👍
I did not specify it at all in the secrets.yaml

[2022-02-22 20:37] #301 closed

[2022-02-25 19:41] #300 closed

[2022-02-26 10:39] r11a opened #303 "Not working with version 2022.3"
Since updating HA core to  beta version 2022.3  Spotcast not working.

Thank You,

[2022-02-26 11:08] hmmbob commented on #303
Will be fixed by #299

[2022-02-26 18:51] odtgit commented on #298
Hi,

The issue is fixed after including media_plsyer.turn_on before the
spotcast.start call.

On Wed, 16 Feb 2022, 19:11 Felix Cusson, ***@***.***> wrote:

[2022-02-28 00:32] fcusson opened #304 "Project - Service definition"
Spotcast started as a simple tool to start playback on a chromecast device but now contains a lot of different options that start to bloat the service call. As for exemple, the current service call page:

![Spotcast service call](https://imgur.com/PRakrUt.png)

With sixteen options, with multiple being mutually exclusive, it is not clear what the user should provide in order to call the service co

[2022-02-28 00:36] fcusson commented on #303
v3.6.26 was released and should resolve the problem

[2022-02-28 00:36] #303 closed

[2022-02-28 11:50] bithajcsar commented on #298
Although I also added media player turn on call before calling the spotcast start, the playback did not start in the morning today. Caused some problem...
Unfortunately I could not see log entries on the HA GUI due to another integration producing a lot of log entries.

[2022-03-01 08:54] Skeletorjus opened #306 "Casting via the media browser fails because of invalid URI"
After selecting a track to play in the media browser (amazing feature, by the way), the playback fails because the received URI is using wrong formatting. See log.

* [X] Using latest version of spotcast
* [X] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [ ] Using latest stable version of Home Assistant
* [X] I have Spotify Premium
* [X] I'm attaching

[2022-03-01 10:24] hmmbob commented on #306
Will be fixed by #305

[2022-03-03 18:09] #306 closed

[2022-03-03 18:09] fcusson commented on #306
v3.6.27 has been released with #305 fixes

[2022-03-03 19:08] fcusson commented on #70
closing due to inactivity, please reopen if required

[2022-03-03 19:08] #70 closed

[2022-03-04 20:57] soundslikeluke commented on #306
I have updated to v3.6.27 and casting using URI is still not working

[2022-03-04 21:37] fcusson commented on #306
@soundslikeluke, this issue was about failing to cast using the media browser. Your comment seems to indicate you tried to cast using a URI directly. Could you provide more information on the issue you're facing? If  it is not regarding the media browser, We could open a separate issue regarding that and work from there.

[2022-03-05 00:29] fcusson commented on #306
@soundslikeluke after testing, the problem referred in this issue doesn't replicate. Please open another issue with more details with the behavior you are facing and what you did to get there. We will try to help you as much as we can.

[2022-03-05 18:53] michaeltryl opened #307 "Spotcast dont play"
I have this code

[code]

But it dont play anything om my Google home.
How can that be. It have worked earlier

[2022-03-06 00:27] fcusson commented on #307
This is not a valid Uri, you are providing the URL.

[2022-03-06 06:15] michaeltryl commented on #307
Yes i have changee it to
service: spotcast.start
data:
  account: tobias
  uri: Spotify.playlist.xxxxxxxx
  random_song: true
  entity_id: media_player.tobias

But my log still says
Denne fejl stammer fra en brugerdefineret integration.

Logger: custom_components.spotcast.helpers
Source: custom_components/spotcast/helpers.py:180
Integration: Spotcast (documentation, issues)
First occurred: 06.58.2

[2022-03-06 11:43] fcusson commented on #307
@michaeltryl. Really sorry, I see the error message does contain an error. This should be `Spotify:<type>:<unique_id>`. I already made the changes. Update v3.6.27 is out. This will however not fix your problem directly. The URI you are using is still bad.

I would highly suggest you get your URI directly form Spotify and do not attempt to format it from the url. You can use the procedure from [thi

[2022-03-06 13:01] michaeltryl commented on #307
This is the way obget the URL.
Xxxxxxxx is just for my playlist notbis shared here
So cant ser what is wrong :)

[2022-03-06 14:16] fcusson commented on #307
I do get that don't worry, still as I explained to you, a Uri shouldn't have `.` separating the elements, it should be `:`.

Please try with the URI that Spotify provides you, if it still fails with your private playlist, please try with a publicly accessible URI and post the yaml + error logs

[2022-03-06 14:18] fcusson commented on #307
You need to hold control to get the URI, dont attempt to modify the URL into a URI I only advise that for advanced users

[2022-03-06 18:11] michaeltryl commented on #307
thanks it works now. cant tell what is different from now to before :-)

[2022-03-06 19:41] fcusson commented on #307
Might be because you updated, We strengthened the URI validation a couple of update ago. Since then, you must provide a valid URI in the form of `Spotify:<type>:<id>` otherwise you get an error message. It's to prevent the component from breaking or getting unreliable result further in the code.

Glad it's working now

[2022-03-06 19:41] #307 closed

[2022-03-08 16:34] thomascour opened #308 "Cast Spotify to Nest Hub v2"
Hi, Spotcast is working really good, I love it.
I have but one problem. When I want to cast a song on my nest hub, I have to open spotify manually on it first. Do you have a way to open spotify on a nest hub so I can spotcast to it ?

Thanks a lot for your help

[2022-03-08 16:40] hmmbob commented on #308
How are you feeling the service?

Just tested the below, works perfectly fine:

[code]

Based on your description, I guess you are trying to use the `device_name` or `spotify device id`, can you try using the entity_id instead?

[2022-03-08 21:45] fcusson commented on #308
@thomascour, please provide more information. Could you edit your issue by filling out this for?

[code]

[2022-03-09 13:48] MattDemers commented on #298
Had this issue this morning as well.

[2022-03-09 19:39] fcusson commented on #298
@MattDemers would you have any luck in providing logs or details (device used, the script, etc)

[2022-03-09 19:42] MattDemers commented on #298
Will do when I get home. I found this thread by searching for a 403 errors; I got the same error as this ```
http status: 403, code:-1 - https://api.spotify.com/v1/me/player/play?device_id=xxxxxxxxxxxx:
 Player command failed: Restriction violated, reason: UNKNOWN
[code]

[2022-03-10 03:31] MattDemers commented on #298
[code]

Used "Call Service" in my script, with a playlist URI, "Living Room Speaker" being my my Google Chromecast Audio, Random Song, Shuffle both being on, and a Start Volume of 75.

Clicking "Run Script" now, it works fine. Will see if it errors tomorrow, too.

Since I'm using it as a morning alarm, I'd obviously prefer this to be reliable.

[2022-03-13 13:33] JamieEC opened #309 "No sp_key and sp_dc cookies on open.spotify.com"
# Bug Ticket

## Describe the bug

A clear and concise description of what the bug is.

* [ ] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x] Using latest stable version of Home Assistant
* [x] I have Spotify Premium
* [ ] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ ] I'm

[2022-03-13 13:35] fcusson commented on #309
Hi @JamieEC, might be a stupid question, but I prefer I ask before going further. You are logged in Spotify on the browser while you attempted to get your key?

[2022-03-13 13:37] JamieEC commented on #309
Oh no I am not! I swear I was, my apologies.
Thank you!

[2022-03-13 13:37] #309 closed

[2022-03-14 22:13] lanrat opened #310 "Invalid context uri"
# Bug Ticket

## Describe the bug

When calling the service `spotcast.start`, It always errors with `Invalid context uri` (see more detailed logs below).

This used to work, but broke recently.

* [X] Using latest version of spotcast
* [X] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [X] Using latest stable version of Home Assistant
* [X] I have Spoti

[2022-03-14 23:52] fcusson commented on #310
Hi @lanrat, what kind of speaker is `media_player.everywhere`. The name seems to indicate it's a group of speakers. If it is, how was the group created?

For regression (assuming it's a group still), could you also try the same request but with a single speaker to see if you get the same error?

[2022-03-15 01:52] lanrat commented on #310
Hi @fcusson,

You are correct that `media_player.everywhere` is a Google Cast speaker group. The group was created in the Google Home App.

I get the same error even if I use an individual speaker as well.

[2022-03-16 15:20] lanrat commented on #310
Just confirmed that using a lowercase uri prefix works!

I remember seeing `Spotify` capitalized somewhere when reading about how to use spotcast, but I don't remember where. Either way, thanks!

[2022-03-20 00:54] fcusson commented on #308
Hi @thomascour, we haven't heard from this issue for 11 days now. Should we keep it open or count it inactive?

[2022-03-20 13:53] prbtt opened #311 "Spotify doesn't show up on media browser"
I have both the standard Spotify integration and spotcast installed, but both don't show up on the media tap.
I do have a premium Spotify account. Am I doing something wrong?

[2022-03-20 13:56] hmmbob commented on #311
Please use the issue template:

# Bug Ticket

## Describe the bug

A clear and concise description of what the bug is.

* [ ] Using latest version of spotcast
* [ ] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [ ] Using latest stable version of Home Assistant
* [ ] I have Spotify Premium
* [ ] I'm attaching relevant logs with level debug for component

[2022-03-21 18:25] jokerigno opened #312 "Question: account used to"
Hello,

I was wondering if  there is a way to store account used to trigger spotcast service. Let me explain my usage:

I have some tts notification based on things that happens at home (dishwasher, washer, etc).

So  IF this happens while music is streaming I ( actually a guy I know) found a way to restart streaming using spotcast service. This is great if I started the streaming while it doesn't

[2022-03-21 18:29] hmmbob commented on #312
Maybe you can use the information provided by `media_player.spotify_xxxxx` for this?

[2022-03-21 20:40] manuelh19 opened #313 "Selecting Cast Device Difficult on Mobile"
Selecting a Casting device has become super difficult on mobile since a recent update. Before you clicked on the button, saw the list of devices, you could select from. Now displaying the list of devices seems to be a hover action, which is near impossible to trigger on either my phone or Dashboard Tablet.

[2022-03-22 03:15] fcusson commented on #313
Spotcast doesn't deal with UI, we only provide the backend service. Could you provide more details, like screenshot so we could help you get help from the correct project?

[2022-03-23 07:47] Naish73 commented on #308
Same error here, with Google Nest Audio. When the Nest is idle for some time, it dissapears from "Get Available Devices" API. The list of available devices is empty:

{
  "devices": []
}

Since then, I can't play anything using spotcast integration. I get error:

Error executing script. Unexpected error for call_service at pos 7: http status: 404, code:-1 - https://api.spotify.com/v1/me/player/pla

[2022-03-23 16:39] manuelh19 commented on #313
Ahhh sorry, my bad. Was a problem of the lovelace card. Needs spotcast to work, therefore my stupid head always thought spotcast was the card. Sorry again, but thanks for the quick response

[2022-03-23 16:39] #313 closed

[2022-03-27 18:30] fcusson commented on #311
Hi @prbtt, we haven't heard from you in a week, and we don't have enough information to start helping you. The fact that both integrations won't show up seems to indicate that the problem is first and foremost with the Spotify Integration. I would suggest checking back the [documentation on home assistant](https://www.home-assistant.io/integrations/spotify/) on how to correctly set up Spotify firs

[2022-03-29 11:37] thomascour commented on #308
Ok, sorry for being inactive. My issue was fixed by changing the friednly name of my nest hub from "Nest Hub" to "Nest".

[2022-03-29 11:52] #308 closed

[2022-03-30 09:53] OzGav commented on #310
Yeah it is in the error message which was messing me around. This is what you get if you format the uri incorrectly:
`is not a valid URI. The format should be [Spotify.<type>.<unique_id>]`
So there is two things wrong with that, the leading capital S and the . instead of :

[2022-03-30 11:22] fcusson commented on #310
@OzGav that's because it's in the dev version but haven't been released yet. Due to the low impact of the error and that I don't have a lot of free time at the moment.

[2022-04-01 21:49] bernikr opened #315 "Add shuffle and other options to media browser"
I really like that the usage of this integration improved drastically with the new media browser. However, I find myself still using the old `spotcast.start` service because I want to shuffle a playlist. I think if the there was a way to set the "shuffle", "random songs" and other flags through the media browser, the usability would improve even more.

[2022-04-07 00:33] #311 closed

[2022-04-07 00:40] prbtt opened #317 "How to join other speakers?"
I have spotcast installed and I have 4 sources as of now: 3 echo dots and my Home Assistant instance with spotify connect.
When i change sources it stopts playing on the previous source. I'd like to know if there is a service that allows me to dinamically join and unjoin those 4 sources. Keep in mind I don't have those sources as media players in home assistant, is this the issue?

[2022-04-07 04:34] fcusson commented on #317
Yes it will be an issue, spotcast can only talk to spotify connect entity, it cannot group them.

Google home let's you group speaker together and then exposes that speaker group as an entity to Spotify, I supposed Amazon has something similar, but you won't be able to group device from different ecosystem.

Spotify will accept one stream on one device per user and is a limitation from there end.

[2022-04-07 04:35] #317 closed

[2022-04-08 09:35] MrGlad8 opened #318 "Cant valid the config"
Hey! Ok so I added the sp key and sp dc into config as in the manual.
The sp_key however a very long text?

But after save and I try to valid the config it loads forever.. is something wrong?

[2022-04-08 16:14] umutcelebi opened #319 "homeassistant.exceptions.HomeAssistantError: Could not get spotify token"
Deze fout is ontstaan door een aangepaste integratie.

Logger: homeassistant
Source: custom_components/spotcast/spotcast_controller.py:151
Integration: Spotcast (documentation, issues)
First occurred: 18:09:37 (1 occurrences)
Last logged: 18:09:37

Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/config/custom_components/spotcast/spotcast_controller.p

[2022-04-08 18:49] r11a commented on #319
same issue

This error originated from a custom integration.

Logger: homeassistant
Source: custom_components/spotcast/spotcast_controller.py:151
Integration: Spotcast (documentation, issues)
First occurred: 21:48:40 (2 occurrences)
Last logged: 21:48:57

Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/config/custom_components/spotcast/spotcast_contr

[2022-04-08 19:12] nrdeworks commented on #319
Same issue. Tried re-pulling the cookies and updating config but didn't help.

[2022-04-09 08:37] r11a commented on #319
Update :
Operating System
Home Assistant OS 8.0.rc1

This may be the cause of the issue?

[2022-04-09 09:54] umutcelebi commented on #319
Nope, mine says i am on 7.6

[2022-04-09 10:03] hmmbob commented on #319
Not seeing this on my install. Are you all on 2022.4 by any chance? I'm still on 2022.3

[2022-04-09 10:05] umutcelebi commented on #319
Yes i am on 2022.4 but had this on 2022.3 aswell. I have updated to 2022.4 before i posted this to see if it would fix my issue.

[2022-04-10 03:48] nrdeworks commented on #319
I did the same as updating has solved issues in the past. Were you able to solve this?

[2022-04-10 06:38] umutcelebi commented on #319
Unfortunately, this did not solve my issue.

[2022-04-11 18:10] nrdeworks commented on #319
The update to HassOS this morning and supervisor fixed it for me.

[2022-04-11 22:58] fcusson commented on #319
looks like a change in spotify token management. I'll look into it. Maybe a change from Spotify API

[2022-04-12 00:49] fcusson commented on #319
After testing I am unable to replicate the issue. At first glance, it would be problem with dependency resolving. Since all people that seem to have the problem run HassOS, it could be a bad config in the update that wiped the dependencies, i.e. Spotify_Token in our case.

The problem is that when we try to call spotify_token (the script we use to get the spotify_token) we raise an error if anythi

[2022-04-12 01:10] fcusson commented on #318
Hi @MrGlad8. Please use the bug report form. It's very hard to help you without more details:

# Bug Ticket

## Describe the bug

A clear and concise description of what the bug is.

* [ ] Using latest version of spotcast
* [ ] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [ ] Using latest stable version of Home Assistant
* [ ] I have Spotify Premium
*

[2022-04-12 07:11] r11a commented on #319
Hi,

any updates?

Thanks

[2022-04-12 09:54] r11a commented on #319
@ing

[2022-04-12 10:32] umutcelebi commented on #319
Sure, i can test.

[2022-04-13 11:52] fcusson commented on #319
Hi @r11a , @umutcelebi, here is the change to make. I don't want to push an update because reinstalling Spotcast might resolve the issue, but I want to make sure we can get to the root of the problem first.

You would need to modify the `spotcast_controller.py` file it should be in `config/custom_components/spotcast/spocast_controller.py`

The change to make is from line 150 to 152:
[code]

Basica

[2022-04-13 16:17] fcusson commented on #319
@r11a ok thank you, so there seems to be a problem with how your Spotify app integration is setup. Spotcast is trying to acquire a token from the Spotify integration but is getting in a redirect loop.

1. Is your Spotify integration working correctly?
2. How did you setup the Spotify integration, with nabu casa or with the spotify developper app?

[2022-04-13 17:54] r11a commented on #319
@fcusson Thank you for your help :)
1. Yes, the  Spotify integration is  working fine.
2. I'm using the native home assistant integration.

[2022-04-14 07:39] umutcelebi commented on #319
Logger: custom_components.spotcast.spotcast_controller
Source: custom_components/spotcast/spotcast_controller.py:151
Integration: Spotcast ([documentation](https://github.com/fondberg/spotcast), [issues](https://github.com/fondberg/spotcast/issues))
First occurred: 09:38:07 (1 occurrences)
Last logged: 09:38:07

Exceeded 30 redirects.

Logger: homeassistant.components.websocket_api.http.connection

[2022-04-14 11:32] Gramatus commented on #319
I have (had) the same issue. I did some testing by cloning the "spotify_token" package and adding some additional debugging to the requests. See attached [debug.log](https://github.com/fondberg/spotcast/files/8488745/debug.log), it seems the requests gets a 302 response pointing to the same url, most relevant bit below:
[code]
I then tried to use new values for sp_dc and sp_key, and got a 200.

I

[2022-04-14 12:16] fcusson commented on #319
Wow thank you @Gramatus I was still debugging from our end at this point.

We could filter the error type and send a more specific message based on that. I'll work on PR for that.

In the meantime, @r11a @umutcelebi, can you confirm updating your sp_dc and sp_key resolves the issue?

[2022-04-14 13:28] umutcelebi commented on #319
Yes, i can confirm this is working. I have checked the new sp_dc and sp_key via the settings and pasted the new values. After restarting the instance all is working fine. Thanks!

[2022-04-14 14:57] fcusson commented on #319
with the information we have I made a change to the get_spotify_token method:

[code]

Now the error message will clearly point toward an expired token for this particular behavior.

[2022-04-15 06:45] r11a commented on #319
@fcusson @hmmbob @Gramatus @umutcelebi Thank you very much!

[2022-04-15 21:08] fcusson commented on #318
Hi @MrGlad8, please provide more information for us to be able to help you. Otherwise, I'll have to close the ticket for inactivity.

Thank you

[2022-04-15 23:28] #310 closed

[2022-04-17 15:47] #319 closed

[2022-04-19 17:14] fcusson commented on #318
closed for inactivity, please reopen if more information is available

[2022-04-19 17:14] #318 closed

[2022-04-20 17:17] MarioPinto opened #320 "Question on play Podcast/Show episode order option improvement"
Would it be helpful to have the option to play the next available episode (oldest not-yet-fully-played podcast/show episode) instead of the latest/newest episode (currently the default scenario) ?

Example:
* Show has 10 episodes
* you have listened to 1,2,3 and 4
* you want to keep the order and listen to the 5th one and not the 10th

This is an easy thing to implement and I could create a PR.  I

[2022-04-21 09:00] Flagun opened #321 "TypeError: 'NoneType' object is not subscriptable"
# Bug Ticket
I added a new account to Home Assistant and after that the spotcast stoped working.
## Describe the bug
Here is the log entry for the error:
2022-04-21 10:56:10 ERROR (MainThread) [homeassistant.components.websocket_api.http.connection] [1604138968] 'NoneType' object is not subscriptable
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/components/websock

[2022-04-21 09:41] Flagun commented on #321
OK got it working. When I created a new spotify integration in HA it was disabled by default - everything works when it was enabled.

[2022-04-21 09:41] #321 closed

[2022-04-23 15:30] codypet opened #322 "Spotcast won't load after upgrade to 2022.4.6"
# Bug Ticket

## Describe the bug

The upgrade to 2022.4 caused a problem with both nest and Spotcast with Spotcast showing the error below.  It was working prior to the upgrade

* [X ] Using latest version of spotcast
* [ X] I have setup the Spotify integration in Home Assistant
* [ ]X I am using multiple accounts
* [ X] Using latest stable version of Home Assistant
* [ X] I have Spotify Premium

[2022-04-23 16:03] fcusson commented on #322
Hello @codypet,

Your problem is with a dependency, pychromecast. More specifically we were unable to import the dependency in the SpotCast code.

As you are running a supervised version of Home Assistant, you are responsible to maintain updated dependencies, home assistant will not update or block breaking updates. Could you verify what is your current version of pychromecast that you are current

[2022-04-23 16:05] fcusson commented on #322
* [x] regression test passed.

unable to replicate bug under development environnement

[2022-04-23 16:09] fcusson commented on #320
@MarioPinto If you want to make a PR go for it. Although the limit of 50 episodes could be a problem. I'll check if there is a way to go around that limitation with the API

[2022-04-23 16:43] fcusson commented on #315
This is sadly a limitation on home assistant side. Not possible to implement because the media selector doesn't have hooks for shuffle and random songs (for all I know, the documentation is very lacking for this feature).

Even then, the shuffle toggle would have to be implemented from the Spotify integration directly, not Spotcast

[2022-04-23 16:46] hmmbob commented on #315
@fcusson the Spotify code seems to suggest it's there

https://github.com/home-assistant/core/blob/dev/homeassistant/components/spotify/media_player.py#L45

[2022-04-23 17:28] fcusson commented on #315
@hmmbob the media_player does provide a way to shuffle directly from media_player.spotify, but the media_selector currently doesn't have the button for it. We only have access to `async_browse_media` and `async_play_media`. No argument can be passed to `play_media` and the media_selector only has a simple play button, no way to select to shuffle.

Unless I'm missing something in the documentation,

[2022-04-23 17:31] hmmbob commented on #315
Hmmm, too bad. Saw this in the code, so hoped it would be available for use.

I don't think existing behavior should change.

[2022-04-24 20:51] misha1183 commented on #322
После обновления Home Assistant 2022.4.6 перестала работать интеграция Google Cast. (именно Spotcast, колонки Google home mini). Ранее работала нормально на протяжении практически года - все время использования Home Assistant.

[2022-04-24 21:51] fcusson commented on #322
@misha1183, If you have additional information to help diagnose or resolve the issue, like error and debug logs or specific setup information, please provide.

Also, please provide information in English, this thread is supposed to provide diagnostics information for the community in a single place, having to go to google translate for some of the hinders that goal.

[2022-04-24 21:53] fcusson commented on #322
Translation:

Google Cast integration stopped working after Home Assistant 2022.4.6 update. (namely Spotcast, Google home mini speakers). Previously, it worked fine for almost a year - all the time using Home Assistant.

[2022-04-25 01:01] codypet commented on #322
I guess technically now its just the Home Assistant Operating System (I've been confused on the naming since the renaming occurred) I'm running.  So conceivably, this dependency will upgrade whenever the OS release comes out in a few weeks?

[2022-04-25 05:47] VaillantHassIo opened #323 "When switching Cast Device - Music was stopped because spotify was used at a different device"
# Bug Ticket

## Describe the bug

A clear and concise description of what the bug is.

* [x ] Using latest version of spotcast
* [x ] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x ] Using latest stable version of Home Assistant
* [ ] I have Spotify Premium
* [ ] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ ]

[2022-04-25 13:02] fcusson commented on #323
Hi @VaillantHassIo, I would consider this more of an improvement option than a bug. The following is primarily to document so people can pitch in on their idea for improvement

I can confirm yes this would be the appropriate behavior, but that's because we don't have control over the way the media_selector makes the transfer.

Basically, Spotcast already has a way to transfer playback, you simply

[2022-04-25 14:30] fcusson commented on #322
hmm, that makes the behavior very strange since the docker is supposed to be a containerized version of HA-OS. Could you verify which version of pychromecast you have installed. If you have the terminal add-on install you simply have to type `python` in the terminal to launch the default python interpreter and then add the following lines (without the `>>>`):

[code]

[2022-04-25 15:15] VaillantHassIo commented on #323
thx for reply.

- i was not changing the media data, are you saying the spotcast media selector is different from spotcast.start?
- i also tried spotcast.start causing the same behavior, no change in media but the message is being broadcasted
--> the actual behavior is more likely compared to google home when i go to a differnt Nest Device and want it to play something using voice commands
--> how

[2022-04-25 17:14] fcusson commented on #322
Ok the difference between the docker and the hassio version seems to be quite different now. I'll set up a dummy raspberry pi install and try Spotcast on it.

[2022-04-25 19:42] fcusson commented on #323
I'm not sure I'm following you, because I'm unaware of a way to change the media source without selecting a media in the media selector. Just to make sure we are talking about the same thing: Are you talking about the media tab in the left menu of your dashboard when you refer to the media player selector (or the pop-up menu on the `media_player` itself)? Or something else?

Also, how do you go ab

[2022-04-26 04:27] VaillantHassIo commented on #323
I had a typo. Its the CastDevice Selector not Media Selector. But your statement above basically narrow it down, this being a regression. Do you have a Reference Issue for that?

I am gonna try to see if the automation (script) in HA can send a stop before start playback on another device.

Feel free to close this issue. Many thx again

[2022-04-26 08:00] TheFes commented on #312
That's indeed how I solved it in [my script](https://community.home-assistant.io/t/script-to-resume-google-cast-devices-after-they-have-been-interrupted-by-any-action/383896) to resume Spotfy after a TTS or other interruption.

I compare the source of the `media_player.spotify_` entity to the friendly names of the speakers.

To make sure this runs without errors, it would be nice to have some info

[2022-04-26 08:04] TheFes commented on #163
Oh, this would be a nice addition indeed! Happy to test if needed.

[2022-04-26 08:12] TheFes opened #324 "Spotcast is not working when using cast as custom component"
# Bug Ticket

## Describe the bug
I really like it when Cast devices never returned to state `off` in HA 2022.2.1 - 2022.2.3. This was reverted in 2022.2.4.
So I tried to run `cast` as custom component, which works fine for the `cast` devices themselves. However, when doing so, the cast devices can no longer be found by Spotcast. The Chromecast sensor does not show any devices. There is no issue c

[2022-04-26 11:56] fcusson commented on #324
We cannot guarantee functionality using a custom component. Spotcast requires access to the cast native integration to check the list of devices and communicate with them correctly. If the service calls and the hooks are made differently it will not work.

In your post you talk about providing a log and that the log mentions no device was found. The log is not in the ticket, can you please provide

[2022-04-26 11:57] fcusson commented on #323
That is something we could look into in the process flow of Spotcast, I won't close the issue to keep documentation on a potential improvement.

[2022-04-26 13:10] TheFes commented on #324
Thanks for the reply.
There is no custom integration to link to, the custom integration is the existing cast integration
(current version [here](https://github.com/home-assistant/core/tree/2022.4.7/homeassistant/components/cast))

Steps to reproduce:
* Download the latest release source code zip from [this link](https://github.com/home-assistant/core/releases) (for some reason 2022.4.7 is missing

[2022-04-28 07:48] TheFes commented on #324
Hi, I moved to the new 2022.5 beta, and I do see a relevant error now
I get this when I run `ha core check`

[code]

When I remove the `cast` integration from custom_components, it works again.

[2022-04-28 07:51] hmmbob commented on #324
`pychromecast` was [bumped ](https://github.com/home-assistant/core/commits/rc/homeassistant/components/cast) in 2022.5, did you download the `cast` component [from 2022.5](https://github.com/home-assistant/core/tree/rc/homeassistant/components/cast)?

[2022-04-28 08:42] TheFes commented on #324
Thanks @hmmbob
Actually using the right `cast` version solved the error.
So please disregard my earlier comment. The situation remains the same, spotcast can not load the cast entities.

[2022-05-04 19:28] MarioPinto commented on #320
@fcusson I don't think there is a way to return more than 50 items but the offset parameter should allow to return a different subset instead of just the last 50. I did a quick test but the offset parameter did not seem to affect anything. Not sure if it does not work with shows/podcasts or if it is some kind of bug.

[2022-05-10 21:56] schumi2004 opened #325 "Integration error: spotcast - Integration 'spotcast' not found."
# Bug Ticket

## Describe the bug

Just installed the Spotcast integration using HACS rebooted, added config to configuration.yaml and reboot failed.

* [x] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x] Using latest stable version of Home Assistant
* [x] I have Spotify Premium
* [ ] I'm attaching relevant logs

[2022-05-10 22:10] ktmaran commented on #325
I am having the same issue. Same configuration and versions.

[2022-05-11 10:52] fcusson commented on #325
@schumi2004 I'm not following the version you stayed you used.

If you installed from HACS, the current version is 3.6.29

[2022-05-11 11:16] schumi2004 commented on #325
You are right, made a typo.
It is indeed 3.6.29 but i also tried master which i'm currently on.

For the rest i don't know what happend but after several restarts en config change modifications (disabling/enabling) spotcast config it suddenly worked.

[2022-05-11 15:08] fcusson commented on #325
Ok I will try to investigate.

@schumi2004 was your HACS install recent? There might have been problems getting files from the Github API if that was the case.

[2022-05-11 15:31] schumi2004 commented on #325
@fcusson  No, it's running for several years already (RPi3 + external HDD)
I did receive a HACS update recently.

[2022-05-12 10:00] Joooost commented on #325
@schumi2004 I had the same problem, my solution was:

1.  Remove Spotcast via HACS and comment the spotcast entries in the configuration.yaml.
2. Restart Home Assistant
3. Install Spotcast and reboot
4. Uncomment spotcast entries in the configuration.yaml and reboot

After that everything worked again for me.

[2022-05-23 20:15] tjuel opened #326 "Error doing job: Task exception was never retrieved"
# Bug Ticket

## Describe the bug

Unknown. I've never been able to get Spotcast to operate successfully. I have an operational Spotify Integration and have setup Spotcast appropriately according to the documentation.

* [x] Using latest version of spotcast
* [x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [x] Using latest stable version of Home Assi

[2022-05-26 01:17] GitHubGoody opened #327 "Unable to establish stable Spotcast connection"
# Bug Ticket

## Describe the bug

I configured a Mini Media Player with a Spotcast shortcut to start a playlist on one of my children’s Echo dots using the Spotify Device ID specific to one of my Spotify Family plan accounts and the Echo. Initially it worked as expected, but within 1-2 days it randomly stopped working giving a generic device not found error when I tap the button:

Failed to call

[2022-05-26 13:59] fcusson commented on #327
It is a common bug with the spotify connect list of devices. They stop being reported after a while by the API. Are you able to try and call the device by its Home Assistant device name instead? It is more reliable for "asleep" devices.

[2022-05-26 15:52] GitHubGoody commented on #327
Would that issue only affect service calls using the Spotify Device ID?

In the process of troubleshooting, I have tried multiple spotcast.start service calls through the Developer Tools section using the Spotify Device ID or device_name. The Entity dropdown indicates "No matching entities found," but I'm able to manually enter the entity_id. Using any of those three device types, the toast messag

[2022-05-27 12:55] fcusson commented on #326
Does a standard service call works or only the custom script?

[2022-05-27 12:56] fcusson commented on #327
That is strange. normally the entity_id is the safest bet to make it work. Since the error message is different, do you have any logs when that happen?

[2022-05-27 16:07] tjuel commented on #326
@fcusson, negative. I used Developer Tools and tried calling:

`service: spotcast.start
data:
  entity_id: media_player.tom
  start_volume: 10
`
I received `failed to call service spotcast.start. Unknown error`

[2022-05-27 16:11] fcusson commented on #326
You might have the same problem than #327. Would you be confortable activating debug log and providing the log so I can look into it?

[2022-05-27 16:20] tjuel commented on #326
@fcusson, it looks like it's throwing two errors in the logs when a service call is run.

`This error originated from a custom integration.

Logger: homeassistant.helpers.script.websocket_api_script
Source: custom_components/spotcast/spotcast_controller.py:187
Integration: Spotcast (documentation, issues)
First occurred: 9:17:08 AM (1 occurrences)
Last logged: 9:17:08 AM

websocket_api script: Err

[2022-05-28 15:37] GitHubGoody commented on #327
I do, each service call drops two error log entries. Please let me know if these help or if you need logs at another level. Re: using entity_id, when I try to use the Develop Tool Services UI, the entity dropdown indicates "No matching entities found," as in I cannot select a single entity...the entire dropdown is blank. But, I'm able to manually enter the entity_id in yaml mode. It's as if this s

[2022-05-30 12:24] edwmurph commented on #327
fwiw i ran into this same issue, everything seemed like it was setup correctly but it only started working after i manually enabled the spotify entity/device in home assistant

[2022-05-30 20:01] GitHubGoody commented on #327
@edwmurph Thanks. Spotify is definitely enabled.

@fcusson Does nothing populating in my entity_id dropdown suggest that's where my problem lies? Is the 'NoneType" object the entity_id I had to manually enter?

[2022-05-30 20:37] fcusson commented on #327
@edwmurph what do you mean by:

Do you mean enabling the official Spotify Integration in Home Assistant or something else?

[2022-05-30 20:57] fcusson commented on #327
@GitHubGoody not forcibly, you should still have devices listed in the Spotify Connect API request. Obiously, if you don't have entity_ids that would mean HomeAssistant doesn't recognise that you have media_player capable of playing Spotify media.

You could try to verify if first you can find Spotify capable device with a direct API call. Just go on [this site](https://developer.spotify.com/conso

[2022-05-31 00:42] GitHubGoody commented on #327
@fcusson I get an array of 7 devices on the right side when I click 'try it,' including the Echo Dot Living Room that I've been using in my comments above. When I use that Spotify ID in a Spotcast service call, it plays straight away. On the same screen, if I deselect 'Spotify Device ID,' select 'Entity ID,' type 'Echo Dot Living Room' or 'media_player.echo_dot_living_room' and click 'Call Service

[2022-05-31 13:59] edwmurph commented on #327
<details>
<summary>ya manually enabling the entity is what fixed it for me. another gotcha is making sure the <a href="https://www.home-assistant.io/integrations/spotify/">redirect url</a> is setup correctly</summary>
<img width="1272" alt="image" src="https://user-images.githubusercontent.com/20996513/171190520-74457134-62a6-4d7c-8be0-4dbbd20eff86.png">
</details>

[2022-05-31 14:40] fcusson commented on #327
@GitHubGoody echo dots devices are very finicky with the entity_id call, I would suggest that you keep using the spotify_id if it works for you for these devices. The problem in your case is that Spotcast is not able to map entity_id with the available spotify_ids.

[2022-05-31 14:42] fcusson commented on #326
@tjuel both are related to the same thing. Spotcast is unable to find devices that are spotify connect capable.

How did you attempt the device call, with the device name, entity_id or spotify_id?

[2022-05-31 22:53] fcusson commented on #327
@GitHubGoody I'll check if there is a way to do that. That issue is there since long before I started to work on the project so I mainly assumed the past contributors made sure there is no solution. Maybe we can find a work around now.

Just to add context, we already map entity_id and spotify_id, it's just the Echo devices that have problem with them in general, even if they are in the api calls.

[2022-05-31 22:56] GitHubGoody commented on #327
@fcusson Thank you for looking into it again. I still feel like there's something I'm missing or doing wrong, so I'll continue to think about my next troubleshooting steps in the meantime.

[2022-06-03 17:25] tjuel commented on #326
Hello @fcusson, I believe the scirpt I'm using has failsafes that can pull from device name, entity_id, or spotify_id depending on what variables are available/provided. I'm using a shared script that appears to be working for a majority of users except for me and have implemented it as described in the author's implementation description.

[2022-06-04 09:39] Systemedic commented on #327
Same issue here. I have two spotify (premium) accounts and multiple devices. I have an Aqara button besides my sons bed and when he presses this button an configured playlist has to start playing on his Google nest mini.

This has worked perfect but recently this has stopped working. When I open the android app, select his device and connect to it and then press the button everything works.

Previ

[2022-06-05 01:46] codypet commented on #322
Any new news on this.   I tried instead of typing python, Python3 and got "No module named 'pychromecast'  So I'm at a loss as to what's going on.  Like I said, it was working for 2022.3.8.

[2022-06-08 14:08] tedr56 opened #329 "Any way to stop casting?"
Hi
Plugin is working great so far.
I was wondering if there was a way, but couldn't find any in the readme.
A spotcast.stop service would be a good addition.

[2022-06-20 19:11] nielsrune commented on #327
For some six months I too have had issues with connecting spotify to my Google nest mini speakers.

i have set up a jukebox-like automation with nfc tag cards and everything used to work during 2021. However *sometimes* I'm getting the device not found error. The nest speaker will wake up ("pling"-sound) and even in Google Home under Media, a card is added that the connection is present. But nothi

[2022-06-21 02:06] 1liminal1 opened #330 "Repeat Not Working"
# Bug Ticket

## Describe the bug

Spotcast will not repeat a track (does play, but only once)

Logs say that repeat was turned on, but its not

[code]

* [ X] Using latest version of spotcast
* [X ] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [X ] Using latest stable version of Home Assistant
* [X ] I have Spotify Premium
* [X] I'm attaching relevan

[2022-06-22 11:43] blautob opened #331 "TypeError: 'NoneType' object is not subscriptable"
# Bug Ticket

## Describe the bug

A clear and concise description of what the bug is.

* [ x] Using latest version of spotcast
* [ x] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [ x] Using latest stable version of Home Assistant
* [ x] I have Spotify Premium
* [ x] I'm attaching relevant logs with level debug for component spotcast (see README)
* [

[2022-07-01 21:32] Sholofly commented on #331
@blautob I had the same. I had disabled the spotify media_player manually. After setting it to hidden it worked again.

[2022-07-10 18:16] Jleagle commented on #326
Also getting this, using entity_id

[2022-07-11 12:49] nicwats opened #332 "Unable to play media from Spotify but working and visible on devices if started from elsewhere"
# Bug Ticket

## Describe the bug

A clear and concise description of what the bug is.

* [X] Using latest version of spotcast
* [X] I have setup the Spotify integration in Home Assistant
* [ ] I am using multiple accounts
* [X] Using latest stable version of Home Assistant
* [X] I have Spotify Premium
* [X] I'm attaching relevant logs with level debug for component spotcast (see README)
* [ ] I'm

[2022-07-11 13:14] nicwats commented on #332
I'm an idiot, its one of the items mentioned as a comment at the very bottom of one of the previous issues in that the spotify media player had been disabled (though I hadn't done that myself so not sure why it ended up in that state).
Brief description of the fix in case it helps anyone:
Go to Settings>Devices&Services>Entities Tab Click on the three lines in the shape of a triangle at top right

[2022-07-11 13:14] #332 closed

[2022-07-11 23:27] 1liminal1 commented on #330
Hi there,

So it looks like the doco is wrong\hasnt been updated???

But this is now working using the following

[code]

Ill leave this open and let the dev update and close

[2022-07-18 06:08] Chacsam commented on #170
Hi all,

I am having this issue for a week now.
I have a script starting with a spotcast.start to wake me up nicely that has been running great for months but not since last week:  it stops due to "Failed to get device id from Spotify"

Strangely enough, when I restart the script manually a couple minutes later, it works fine again.
I have updated my keys to be sure, but that didn't help.

Anyone

[2022-07-19 00:53] spyfly commented on #170
Same issue here. It seems like the first call which fails with an error wakes up the Chromecast and opens the Spotify App. Now Spotcast is able to retrieve the device id in the next call and it will start playing. I managed to make it work with the workaround seen below:
[code]

[2022-07-19 12:22] chadbaum opened #333 "Spotcast cannot find Chromecast devices by entity ID"
I cannot use the media browser to start playback using Spotcast on Chromecast devices.  It works fine using the other methods of identifying devices in automations, however, it looks like the media browser will always use entity ID and that is what is broken for me.  Device in this example is a Google Home Mini.

The log will produce the following error:

[code]

## Environment

 - Installation ty

[2022-07-19 19:09] Chacsam commented on #170
Thanks, I'll try that

[2022-07-21 21:51] ahaverty commented on #331
I'm hitting this issue with spotcast also. My Spotify integration is automatically disabled, even after re-installing.
For me, it's a Spotify rate limit issue, which is being tracked over here: https://github.com/home-assistant/core/issues/73319